# Import des librairies

In [1]:
import numpy as np
import pandas as pd
from math import *
from sklearn.impute import KNNImputer

# 1 - Import et traitement de la table TRAIN

# I - Import de la table TRAIN

In [2]:
dt_train = pd.read_csv("Data_Base/application_train.csv", header = 0, sep = ',')

In [3]:
dt_train_copie = dt_train

In [4]:
dt_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

# II - Analyse des données brutes

Pour l'analyse des données, on se base sur la table "train". Par la suite, on appliquera les mêmes traitement de nettoyage et de sélection des donénes à la table "test"

### Analyse des valeurs uniques de chaque colonnes

#### Analyse globale

In [5]:
dt_columns = dt_train.columns.values.tolist()

for i in dt_columns :
    print(f'colonne {i} : {dt_train[i].unique()}\n')

colonne SK_ID_CURR : [100002 100003 100004 ... 456253 456254 456255]

colonne TARGET : [1 0]

colonne NAME_CONTRACT_TYPE : ['Cash loans' 'Revolving loans']

colonne CODE_GENDER : ['M' 'F' 'XNA']

colonne FLAG_OWN_CAR : ['N' 'Y']

colonne FLAG_OWN_REALTY : ['Y' 'N']

colonne CNT_CHILDREN : [ 0  1  2  3  4  7  5  6  8  9 11 12 10 19 14]

colonne AMT_INCOME_TOTAL : [202500.  270000.   67500.  ...  96768.  546250.5 113062.5]

colonne AMT_CREDIT : [ 406597.5 1293502.5  135000.  ...  181989.   743863.5 1391130. ]

colonne AMT_ANNUITY : [24700.5 35698.5  6750.  ... 71986.5 58770.  77809.5]

colonne AMT_GOODS_PRICE : [ 351000.  1129500.   135000.  ...  453465.   143977.5  743863.5]

colonne NAME_TYPE_SUITE : ['Unaccompanied' 'Family' 'Spouse, partner' 'Children' 'Other_A' nan
 'Other_B' 'Group of people']

colonne NAME_INCOME_TYPE : ['Working' 'State servant' 'Commercial associate' 'Pensioner' 'Unemployed'
 'Student' 'Businessman' 'Maternity leave']

colonne NAME_EDUCATION_TYPE : ['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']

colonne NAME_FAMILY_STATUS : ['Single / not married' 'Married' 'Civil marriage' 'Widow' 'Separated'
 'Unknown']

colonne NAME_HOUSING_TYPE : ['House / apartment' 'Rented apartment' 'With parents'
 'Municipal apartment' 'Office apartment' 'Co-op apartment']

colonne REGION_POPULATION_RELATIVE : [0.018801 0.003541 0.010032 0.008019 0.028663 0.035792 0.003122 0.018634
 0.019689 0.0228   0.015221 0.031329 0.016612 0.010006 0.020713 0.010966
 0.04622  0.025164 0.006296 0.026392 0.018029 0.019101 0.030755 0.008575
 0.01885  0.006207 0.009175 0.007305 0.007114 0.009334 0.022625 0.01452
 0.006629 0.00733  0.032561 0.00496  0.072508 0.009657 0.02461  0.003069
 0.020246 0.018209 0.009549 0.007274 0.002134 0.010276 0.003813 0.003818
 0.00712  0.0105   0.010147 0.010643 0.008866 0.00702  0.002506 0.005313
 0.006233 0.008474 0.005144 0.011657 0.008625 0.014464 0.004849 0.006008
 0.00963  0.005002 0.006852 0.011703 0.006305 0.010556 0.00823  0.006671
 0.002042 0.005084 0.008068 0.001333 0.001417 0.001276 0.000938 0.000533
 0.00029 ]

colonne DAYS_BIRTH : [ -9461 -16765 -19046 ...  -7951  -7857 -25061]

colonne DAYS_EMPLOYED : [  -637  -1188   -225 ... -12971 -11084  -8694]

colonne DAYS_REGISTRATION : [ -3648.  -1186.  -4260. ... -16396. -14558. -14798.]

colonne DAYS_ID_PUBLISH : [-2120  -291 -2531 ... -6194 -5854 -6211]

colonne OWN_CAR_AGE : [nan 26. 17.  8. 23.  7. 14.  1.  3. 13. 10.  2. 21. 20. 22. 65.  5. 11.
  9.  4. 15. 12. 25.  6. 64.  0. 27. 19. 28. 18. 16. 30. 36. 24. 39. 29.
 40. 41. 31. 42. 37. 35. 34. 33. 54. 38. 32. 43. 55. 49. 44. 63. 46. 45.
 48. 56. 51. 57. 69. 50. 47. 91. 52.]

colonne FLAG_MOBIL : [1 0]

colonne FLAG_EMP_PHONE : [1 0]

colonne FLAG_WORK_PHONE : [0 1]

colonne FLAG_CONT_MOBILE : [1 0]

colonne FLAG_PHONE : [1 0]

colonne FLAG_EMAIL : [0 1]

colonne OCCUPATION_TYPE : ['Laborers' 'Core staff' 'Accountants' 'Managers' nan 'Drivers'
 'Sales staff' 'Cleaning staff' 'Cooking staff' 'Private service staff'
 'Medicine staff' 'Security staff' 'High skill tech staff'
 'Waiters/barmen staff' 'Low-skill Laborers' 'Realty agents' 'Secretaries'
 'IT staff' 'HR staff']

colonne CNT_FAM_MEMBERS : [ 1.  2.  3.  4.  5.  6.  9.  7.  8. 10. 13. nan 14. 12. 20. 15. 16. 11.]

colonne REGION_RATING_CLIENT : [2 1 3]

colonne REGION_RATING_CLIENT_W_CITY : [2 1 3]

colonne WEEKDAY_APPR_PROCESS_START : ['WEDNESDAY' 'MONDAY' 'THURSDAY' 'SUNDAY' 'SATURDAY' 'FRIDAY' 'TUESDAY']

colonne HOUR_APPR_PROCESS_START : [10 11  9 17 16 14  8 15  7 13  6 12 19  3 18 21  4  5 20 22  1  2 23  0]

colonne REG_REGION_NOT_LIVE_REGION : [0 1]

colonne REG_REGION_NOT_WORK_REGION : [0 1]

colonne LIVE_REGION_NOT_WORK_REGION : [0 1]

colonne REG_CITY_NOT_LIVE_CITY : [0 1]

colonne REG_CITY_NOT_WORK_CITY : [0 1]

colonne LIVE_CITY_NOT_WORK_CITY : [0 1]

colonne ORGANIZATION_TYPE : ['Business Entity Type 3' 'School' 'Government' 'Religion' 'Other' 'XNA'
 'Electricity' 'Medicine' 'Business Entity Type 2' 'Self-employed'
 'Transport: type 2' 'Construction' 'Housing' 'Kindergarten'
 'Trade: type 7' 'Industry: type 11' 'Military' 'Services'
 'Security Ministries' 'Transport: type 4' 'Industry: type 1' 'Emergency'
 'Security' 'Trade: type 2' 'University' 'Transport: type 3' 'Police'
 'Business Entity Type 1' 'Postal' 'Industry: type 4' 'Agriculture'
 'Restaurant' 'Culture' 'Hotel' 'Industry: type 7' 'Trade: type 3'
 'Industry: type 3' 'Bank' 'Industry: type 9' 'Insurance' 'Trade: type 6'
 'Industry: type 2' 'Transport: type 1' 'Industry: type 12' 'Mobile'
 'Trade: type 1' 'Industry: type 5' 'Industry: type 10' 'Legal Services'
 'Advertising' 'Trade: type 5' 'Cleaning' 'Industry: type 13'
 'Trade: type 4' 'Telecom' 'Industry: type 8' 'Realtor' 'Industry: type 6']

colonne EXT_SOURCE_1 : [0.08303697 0.31126731        nan ... 0.14557045 0.7440264  0.73445967]

colonne EXT_SOURCE_2 : [0.26294859 0.62224578 0.55591208 ... 0.13118876 0.26448565 0.2678342 ]

colonne EXT_SOURCE_3 : [1.39375780e-01            nan 7.29566691e-01 6.21226338e-01
 4.92060094e-01 5.40654450e-01 7.51723715e-01 3.63945239e-01
 6.52896552e-01 1.76652579e-01 7.70087070e-01 6.78567689e-01
 6.21030378e-02 5.56727426e-01 4.77649155e-01 5.42445144e-01
 3.58951229e-01 6.69056695e-01 5.65607981e-01 4.61482391e-01
 1.90705948e-01 6.59405532e-01 5.24496446e-01 4.10102573e-01
 7.98137231e-01 4.11848556e-01 7.54406173e-01 7.22392890e-01
 6.05836265e-01 3.20163367e-01 3.99675616e-01 6.84827659e-01
 4.75849909e-01 7.28141299e-01 4.66864006e-01 4.79448981e-01
 3.09275356e-01 7.99296783e-01 7.01695774e-01 7.38019620e-01
 7.01088438e-02 1.69428727e-01 5.13693766e-01 7.07699345e-01
 3.39287700e-01 6.97146908e-01 4.34733249e-01 2.34015167e-01
 9.50703958e-02 5.62060483e-01 4.29423684e-01 4.13596760e-01
 8.32785025e-01 3.94495405e-01 5.97192427e-01 6.94092643e-01
 1.98620045e-01 1.91821602e-01 4.08358853e-01 5.35276250e-01
 4.52533559e-01 7.20944150e-01 6.44679455e-01 3.42528872e-01
 8.24594971e-01 5.11891802e-01 6.41368257e-01 3.28063161e-01
 2.28883417e-01 7.74985465e-02 7.89880347e-01 2.65049430e-01
 7.10551247e-02 1.21408286e-01 5.81483706e-01 4.06617437e-01
 6.73830078e-01 5.54946769e-01 5.74446617e-01 1.20641030e-01
 5.72682505e-01 9.63186928e-02 6.83268831e-01 7.39411754e-01
 7.55740050e-01 2.11550764e-01 9.20128094e-02 7.49021705e-01
 3.53987608e-01 7.46300213e-01 2.89611238e-01 3.17031779e-01
 2.32724776e-01 8.12822607e-01 1.56639827e-01 1.61463080e-01
 3.29655054e-01 8.16092360e-01 5.95456203e-01 4.17099668e-01
 6.75413291e-01 4.43615308e-01 4.20610964e-01 7.95803133e-01
 7.71361592e-01 5.19097338e-01 5.46023197e-01 7.88680775e-01
 5.22697317e-01 5.08286991e-01 1.92942228e-01 3.03146374e-01
 6.39707568e-01 2.76440695e-01 3.50695843e-01 2.69285800e-01
 5.44234741e-01 5.49596502e-01 5.93717587e-01 7.06205110e-01
 5.06484240e-01 7.44932185e-01 3.07736696e-01 4.27657370e-01
 3.37672722e-01 6.07557300e-01 7.36622698e-01 3.44155007e-01
 6.34705531e-01 2.97086612e-01 4.25892898e-01 7.59712182e-01
 1.80887978e-01 6.09275667e-01 7.16570245e-01 2.18859082e-01
 2.17628520e-01 6.54529280e-01 1.30947153e-01 3.80799683e-01
 4.54321060e-01 7.42181612e-01 2.43186480e-01 1.96333966e-01
 4.56109739e-01 7.30987370e-01 3.79100485e-01 5.20897599e-01
 2.70707387e-01 6.95621930e-01 7.13631400e-01 6.31354537e-01
 2.25086862e-01 4.48962273e-01 7.50375150e-01 1.83035167e-01
 8.00451340e-01 5.28092751e-01 6.22922000e-01 7.58393062e-01
 2.37916080e-01 3.31250865e-01 6.12704244e-01 4.63275328e-01
 5.88487788e-01 3.15472155e-01 2.00926088e-01 5.16817674e-02
 4.97468889e-01 4.38281374e-01 6.64248263e-01 4.95665829e-01
 6.89479143e-01 5.77969119e-01 2.10350229e-01 6.38043528e-01
 7.35220999e-01 6.29674251e-01 2.60855914e-01 4.70456116e-01
 7.78904039e-01 1.73527430e-01 5.37069958e-01 5.17296581e-01
 6.72242890e-01 6.00657537e-01 7.86266615e-01 2.63646813e-01
 4.31191798e-01 4.65069215e-01 3.06202298e-01 3.77404249e-01
 5.51381262e-01 6.57783800e-01 6.92559067e-01 7.40799088e-01
 1.15386662e-01 7.19490785e-01 8.02745476e-01 4.86653157e-01
 3.40906426e-01 2.23831317e-01 6.51260219e-01 7.12155155e-01
 3.84206813e-01 3.55638717e-01 3.89338792e-01 7.10674386e-01
 9.02209393e-02 5.27265239e-04 7.33814537e-01 7.85052026e-01
 3.87625344e-01 6.80138822e-01 6.36376171e-01 6.51096140e-02
 6.65854922e-01 6.81705878e-01 7.03203305e-01 1.87388765e-01
 6.62637792e-01 2.56705572e-01 6.33031641e-01 7.00183851e-01
 7.67523105e-01 3.74020803e-01 7.90596960e-02 7.75155267e-01
 6.98667555e-01 6.76992503e-01 3.49055251e-01 7.82607837e-01
 2.75000352e-01 2.66456808e-01 6.56158373e-01 5.86740009e-01
 5.33481630e-01 1.26100559e-01 3.85914672e-01 6.27990819e-01
 3.72333666e-01 3.96219572e-01 9.32250954e-02 7.73895694e-01
 1.44648146e-01 3.91054977e-01 2.83711883e-01 2.15182404e-01
 2.73564678e-01 5.29889834e-01 9.88592804e-02 2.52598698e-01
 4.01407414e-01 6.19527708e-01 7.66233670e-01 8.27702668e-01
 3.13916677e-01 5.98926218e-01 7.63639921e-01 3.70649632e-01
 5.34780874e-02 6.02386344e-01 1.50085176e-01 3.32850564e-01
 4.32961667e-01 6.70651753e-01 6.26304277e-01 5.63835049e-01
 5.15495375e-01 6.14414378e-01 6.43025564e-01 4.50747282e-01
 3.75711010e-01 2.88129600e-01 1.64414179e-01 6.10991328e-01
 1.47345918e-01 6.61023539e-01 4.83050188e-01 5.04681319e-01
 7.47663390e-01 7.72631135e-01 7.93449030e-01 1.88489534e-01
 5.47810466e-01 4.88455184e-01 8.34784159e-01 2.09154699e-01
 1.41991543e-01 8.10618022e-01 6.46329898e-01 3.26475210e-01
 6.16121691e-01 4.57899551e-01 8.21443313e-01 1.36800522e-01
 5.70916542e-01 3.97946322e-01 2.82248434e-01 4.93862882e-01
 5.60284328e-01 5.53164699e-01 1.26897526e-01 1.60488931e-01
 3.12365369e-01 5.67379237e-01 4.74051289e-01 5.01075160e-01
 7.24966768e-02 4.40057830e-01 4.24130311e-01 9.69483171e-02
 8.65895915e-01 4.99272015e-01 1.97474512e-01 4.45396242e-01
 1.25307878e-01 6.17826147e-01 1.74564266e-01 7.09189110e-01
 3.21735282e-01 2.26347396e-01 7.61026370e-01 3.45784802e-01
 1.67408447e-01 6.04112600e-01 5.83237926e-01 1.84116156e-01
 8.63363382e-01 7.92264474e-01 1.19877961e-01 5.76208836e-01
 8.03885061e-01 2.22580765e-01 3.65616507e-01 8.19317692e-01
 5.90233339e-01 5.38862707e-01 5.88259005e-02 8.35776516e-01
 3.68968738e-01 7.18032811e-01 4.68659655e-01 1.57594999e-01
 2.13966852e-01 1.30128543e-01 6.91021227e-01 5.20364071e-02
 1.35106016e-01 2.95582642e-01 1.45542813e-01 3.18595524e-01
 1.24519471e-01 7.62335618e-01 2.04422625e-01 5.26294940e-01
 7.80143638e-01 1.11756371e-01 5.31686143e-01 9.14119938e-02
 4.59690450e-01 4.84851475e-01 5.69148771e-01 8.59924176e-01
 6.49620311e-01 8.07273923e-01 7.64735192e-02 4.81249341e-01
 6.24614658e-01 7.15326763e-02 5.58506628e-01 2.30158897e-01
 1.53802586e-01 1.23735322e-01 8.05019662e-01 6.86382335e-01
 4.36506499e-01 5.10089528e-01 4.90257512e-01 1.41115100e-01
 1.03449052e-01 2.91097380e-01 4.22369652e-01 7.04706423e-01
 8.20382959e-01 8.06149281e-01 1.06155623e-01 1.85202082e-01
 2.27612915e-01 8.06495443e-02 2.85179905e-01 2.41861487e-01
 3.82501804e-01 7.39651461e-02 3.10818254e-01 1.37654462e-01
 6.04436913e-02 4.18854289e-01 2.55331771e-01 8.18247508e-01
 2.36610824e-01 1.05473186e-01 8.48244300e-01 2.79335321e-01
 8.28728832e-01 4.41835823e-01 9.26171714e-02 6.87932838e-01
 1.46442067e-01 2.48535557e-01 2.16402961e-01 2.03252114e-01
 7.68807573e-01 5.84990040e-01 6.47976860e-01 4.72253343e-01
 1.00151820e-01 5.91976618e-01 4.03141677e-01 8.33641977e-02
 2.98594990e-01 3.34454126e-01 1.52866229e-01 1.22955418e-01
 3.36061521e-01 8.43543539e-01 6.67457742e-01 1.51934549e-01
 3.01624892e-01 1.99770570e-01 2.49885063e-01 2.31439351e-01
 8.13917470e-01 1.40243184e-01 5.02878277e-01 2.40541417e-01
 1.59519540e-01 2.06778654e-01 7.25276435e-01 1.95198406e-01
 2.58084204e-01 1.27698794e-01 7.94628583e-01 2.53962809e-01
 1.43758053e-01 7.23836990e-01 8.61652750e-01 3.47418227e-01
 3.00107757e-01 1.35951044e-01 6.82511545e-02 3.60612566e-01
 7.76409851e-01 1.79821765e-01 2.47190938e-01 3.92773861e-01
 8.08393591e-01 1.11042402e-01 1.78760465e-01 4.47178578e-01
 7.15103102e-01 4.04878364e-01 3.57293268e-01 2.62248971e-01
 1.17613732e-01 9.56927242e-02 5.79727423e-01 2.21335206e-01
 3.62277247e-01 1.68416171e-01 7.83832434e-01 5.49573941e-02
 8.56412800e-01 2.67868936e-01 3.67291018e-01 7.32403323e-01
 1.72495467e-01 2.86652483e-01 2.80789574e-01 3.52339973e-01
 1.81959110e-01 1.00803706e-01 8.50326149e-02 2.35310517e-01
 1.55689375e-01 2.12756305e-01 1.34265424e-01 1.58554900e-01
 8.62510303e-01 3.04672184e-01 1.32597495e-01 6.77939106e-02
 7.53067392e-01 2.30618111e-02 3.23311245e-01 1.48254379e-01
 4.14716966e-02 1.14652494e-01 2.72133684e-01 2.94083101e-01
 8.73042707e-02 2.07964174e-01 1.04119916e-01 1.29314289e-01
 8.67312636e-02 1.66405546e-01 4.15347145e-01 8.81026575e-01
 1.86292950e-01 3.92377151e-02 4.79287862e-02 2.44516392e-01
 1.12474350e-01 2.39226279e-01 8.29750142e-01 8.78806992e-02
 1.65407460e-01 2.59467655e-01 2.51239446e-01 2.77885689e-01
 8.11722793e-01 8.38724852e-01 1.06841948e-01 1.38512877e-01
 7.26711209e-01 2.02086602e-01 4.82589835e-02 1.71468367e-01
 1.45563649e-02 7.43559314e-01 8.82530313e-01 1.09626434e-01
 8.11859432e-02 4.41303159e-02 1.08226323e-01 3.34404021e-02
 8.61616624e-02 8.40666560e-01 8.17255925e-02 1.63425695e-01
 8.22498762e-01 8.45437922e-01 2.05598139e-01 8.37746853e-01
 5.06315131e-02 6.29485767e-02 6.25244733e-02 8.23549312e-01
 2.20094645e-01 3.97851461e-02 5.45839935e-02 8.55523587e-01
 8.28147042e-02 1.31770133e-01 4.17593601e-02 8.52828467e-01
 3.24891229e-01 1.13196353e-01 7.85361446e-02 1.02782014e-01
 1.33429254e-01 1.54743631e-01 7.59656813e-02 1.41482655e-02
 1.01459357e-01 8.01600903e-01 1.19119065e-01 6.59932074e-02
 7.77659443e-01 1.89595260e-01 6.16842561e-02 1.02118788e-01
 1.10332428e-01 1.75605979e-01 7.29831557e-02 7.64939274e-01
 1.77704072e-01 2.45851214e-01 8.22685076e-02 8.39170037e-02
 1.70446123e-01 8.69210801e-01 8.84605647e-02 9.75816127e-02
 1.28504377e-01 5.42129844e-02 3.68624823e-02 5.68607395e-02
 5.96296575e-02 1.04794623e-01 2.38884361e-02 8.42589277e-01
 7.87476198e-01 9.82185953e-02 3.18464044e-02 7.05805188e-02
 7.57069015e-01 1.51007535e-01 8.33786999e-01 4.99426019e-02
 7.96972682e-01 2.92588007e-01 7.91074913e-01 1.94067828e-01
 8.09508289e-01 9.08147090e-02 8.46378063e-01 4.63097465e-02
 8.90438827e-02 8.39698085e-01 4.85913395e-02 6.91742267e-02
 1.49167461e-01 4.44355656e-02 1.22179744e-01 8.44731375e-02
 8.17172399e-01 1.16867266e-01 3.66072628e-02 8.01163805e-02
 8.25635745e-01 8.80268480e-01 2.63596859e-02 8.96306691e-02
 6.87112549e-02 7.49592809e-02 4.06200396e-02 6.38048445e-02
 8.85488394e-01 5.09793334e-02 5.60920788e-02 1.18364326e-01
 7.20131886e-02 6.68879340e-02 3.27480398e-02 1.42872523e-01
 6.46719559e-02 7.95864362e-02 1.08924404e-01 8.47313519e-01
 1.07532176e-01 9.95036835e-02 7.69844691e-02 6.73395087e-02
 8.59053129e-01 7.80157665e-02 8.36764077e-01 5.53331995e-02
 3.89667159e-02 3.53564629e-02 5.64751797e-02 6.96400847e-02
 6.12681138e-02 1.13922396e-01 7.81378238e-01 4.72748180e-02
 9.38365970e-02 8.66731234e-01 8.51008703e-01 5.27525967e-02
 9.44516920e-02 8.55954513e-02 8.31778230e-01 6.55500263e-02
 1.16124914e-01 6.08545970e-02 5.80323088e-02 3.71194126e-02
 5.84278409e-02 6.64391717e-02 1.94675368e-02 2.88760241e-02
 2.80779003e-02 1.62441998e-01 6.33753623e-02 2.61752069e-02
 5.38443535e-02 5.76392903e-02 3.63537437e-02 6.42370375e-02
 3.46258510e-02 6.00353829e-02 7.44606879e-02 3.41468857e-02
 1.60781171e-02 8.57297454e-01 7.34726404e-02 2.43982125e-02
 3.76384476e-02 5.31141728e-02 8.54629801e-01 5.02859402e-02
 4.89258668e-02 5.13294139e-02 2.69207441e-02 2.67324463e-02
 3.20695369e-02 8.53731432e-01 3.51112903e-02 3.86975129e-02
 3.95105215e-02 5.72487718e-02 3.29772745e-02 4.92625778e-02
 8.79506216e-01 8.96009549e-01 8.65056176e-01 8.30766606e-01
 5.23933458e-02 2.82753998e-02 8.74844253e-01 4.26338431e-02
 8.78739767e-01 4.03398941e-02 3.05388193e-02 4.69510224e-02
 3.32080587e-02 3.25203451e-02 4.66293360e-02 3.61019144e-02
 4.53634379e-02 8.50091881e-01 4.56768096e-02 8.77194258e-01
 4.09020477e-02 3.16247736e-02 4.38270669e-02 4.11859296e-02
 2.65454297e-02 4.96014853e-02 4.23404218e-02 4.76007352e-02
 2.84742479e-02 8.70841988e-01 7.54609403e-02 8.15007386e-01
 3.11859799e-02 3.39098058e-02 2.50944406e-02 1.67772514e-02
 2.74934071e-02 3.56032843e-02 4.59922418e-02 4.20489313e-02
 2.96961417e-02 2.58100107e-02 5.92265014e-02 4.47428279e-02
 1.90587694e-02 8.73256255e-01 3.81644526e-02 3.58517647e-02
 5.57114233e-02 4.29292066e-02 8.49170417e-01 2.47439401e-02
 8.41630287e-01 8.26671642e-01 8.58177559e-01 3.73780642e-02
 8.64212002e-01 8.87664202e-01 3.09687983e-02 2.37208308e-02
 4.35258068e-02 3.14046353e-02 3.79005735e-02 3.48677564e-02
 2.49185898e-02 3.22941806e-02 3.01146246e-02 4.50521147e-02
 2.04550299e-02 1.13457194e-02 4.00616000e-02 1.70168720e-02
 2.40571964e-02 2.27390386e-02 2.01679886e-02 2.86744531e-02
 2.52715002e-02 3.03260035e-02 2.14915157e-02 2.94890196e-02
 3.84300954e-02 3.07530812e-02 2.99046737e-02 2.24206800e-02
 3.43855641e-02 2.03110127e-02 8.72455816e-01 2.73012161e-02
 2.19512925e-02 2.71103313e-02 8.71651065e-01 2.54497765e-02
 1.27159239e-02 8.93976075e-01 2.42271194e-02 2.35543731e-02
 1.86584217e-02 2.32248707e-02 1.82663270e-02 2.59919845e-02
 2.92832986e-02 1.39484656e-02 8.44493084e-01 1.75062455e-02
 2.78817406e-02 1.65409482e-02 1.89243929e-02 2.90789697e-02
 1.81374345e-02 2.00259511e-02 4.32265239e-02]

colonne APARTMENTS_AVG : [0.0247 0.0959    nan ... 0.0261 0.0731 0.3466]

colonne BASEMENTAREA_AVG : [0.0369 0.0529    nan ... 0.274  0.2733 0.636 ]

colonne YEARS_BEGINEXPLUATATION_AVG : [0.9722 0.9851    nan 0.9811 0.9806 0.9985 0.9881 0.9781 0.9786 0.9876
 0.9861 0.9732 0.9831 0.9697 0.9901 0.9801 0.9762 0.996  0.998  0.9846
 0.9886 0.9354 0.9841 0.9856 0.9955 0.9677 0.9891 0.9752 0.9826 0.9727
 0.6508 0.9578 0.9742 0.9707 0.9975 0.999  0.9816 0.9866 0.9836 0.994
 0.9757 0.9737 0.9791 0.9821 0.9682 0.995  0.9771 0.9945 0.9747 0.9776
 0.9796 0.9896 0.9692 0.9518 0.9995 0.9414 0.993  0.9702 0.9921 0.9916
 0.9712 0.4933 0.9871 0.9672 0.9911 0.9608 0.9906 0.9503 0.9598 0.997
 0.9583 0.9767 0.929  0.9935 0.9617 0.9563 0.9965 0.9925 0.9508 0.9717
 0.9687 0.9667 0.9359 0.9573 0.9588 0.9513 0.9642 0.9553 0.9603 0.9543
 0.9622 0.9637 0.3224 0.9568 0.6538 0.9652 0.9523 0.4953 0.9473 0.
 0.9071 0.9593 0.9627 0.9613 0.9439 0.9434 0.9488 0.4973 0.9459 0.9334
 0.9657 0.9632 0.9424 0.9548 0.9449 0.4913 0.9647 0.9662 0.9468 0.3284
 0.9001 0.9324 0.9389 1.     0.9493 0.9463 0.9498 0.92   0.4903 0.9121
 0.9444 0.3259 0.9409 0.9384 0.4848 0.9329 0.9429 0.928  0.9483 0.9478
 0.9538 0.9379 0.9404 0.4759 0.8977 0.7442 0.927  0.9528 0.8927 0.9344
 0.3279 0.9275 0.9056 0.9558 0.4983 0.4883 0.9339 0.7432 0.7829 0.6533
 0.9136 0.1987 0.9195 0.9419 0.9319 0.9175 0.5315 0.9309 0.9305 0.9349
 0.6841 0.9399 0.9066 0.926  0.4943 0.9394 0.9245 0.3294 0.9295 0.8674
 0.229  0.8579 0.5852 0.4863 0.9454 0.93   0.9235 0.916  0.9314 0.9369
 0.924  0.6513 0.3304 0.8877 0.8922 0.3289 0.921  0.9106 0.9533 0.3254
 0.4779 0.9151 0.4978 0.4898 0.7914 0.4893 0.0979 0.6344 0.5857 0.9374
 0.9096 0.4938 0.918  0.8967 0.4918 0.4853 0.7437 0.925  0.9225 0.6577
 0.923  0.9215 0.8276 0.6567 0.6547 0.8992 0.2434 0.9364 0.1942 0.4968
 0.8718 0.6572 0.3169 0.8982 0.4888 0.4958 0.9086 0.3164 0.4928 0.4878
 0.3229 0.3318 0.9255 0.7809 0.9185 0.2156 0.4948 0.8987 0.9165 0.4868
 0.545  0.9076 0.9205 0.9285 0.5941 0.7303 0.4873 0.4988 0.4774 0.841
 0.919  0.9006 0.4923 0.238  0.6408 0.8818 0.9116 0.8852 0.0447 0.922
 0.0969 0.8823 0.9091 0.3308 0.4993 0.0179 0.0974 0.8833 0.917  0.4784
 0.84   0.9101 0.4789 0.9265 0.4908 0.8629]

colonne YEARS_BUILD_AVG : [6.192e-01 7.960e-01       nan 7.348e-01 9.796e-01 8.368e-01 7.008e-01
 7.076e-01 8.300e-01 8.096e-01 7.688e-01 6.736e-01 9.456e-01 7.416e-01
 7.892e-01 7.280e-01 8.436e-01 1.160e-01 7.824e-01 8.028e-01 5.580e-01
 8.504e-01 6.600e-01 7.620e-01 6.260e-01 9.660e-01 9.864e-01 6.328e-01

colonne ELEVATORS_MEDI : [0.   0.08  nan 0.16 0.4  0.14 0.28 0.04 0.24 0.88 0.32 0.12 0.36 0.68
 0.56 0.6  0.2  0.52 0.1  0.44 0.22 0.02 0.48 0.64 0.18 0.06 0.72 0.74
 0.9  0.5  0.42 1.   0.54 0.76 0.3  0.26 0.34 0.84 0.58 0.96 0.38 0.8
 0.92 0.78 0.66 0.46 0.62]

colonne ENTRANCES_MEDI : [0.069  0.0345    nan 0.2069 0.1379 0.1724 0.1034 0.1207 0.3103 0.4828
 0.3793 0.3448 0.2759 0.2414 0.1552 0.4483 0.0517 0.5172 0.1897 0.0862
 0.     0.4138 0.5517 0.2586 0.6207 0.6897 0.431  0.6552 0.5862 0.3276
 0.2241 0.7931 0.3621 0.8276 0.7586 0.4655 0.8621 0.7241 1.     0.2931
 0.8966 0.9655 0.5    0.931  0.569  0.3966 0.0172]

colonne FLOORSMAX_MEDI : [0.0833 0.2917    nan 0.1667 0.3333 0.6667 0.375  0.0417 0.25   0.4583
 0.2083 0.125  0.     0.5833 0.625  0.9167 0.9583 0.1875 0.5417 0.4792
 0.5    1.     0.4167 0.1042 0.2708 0.1458 0.4375 0.5208 0.875  0.2292
 0.7083 0.0208 0.3958 0.3542 0.6042 0.7292 0.8125 0.75   0.0625 0.5625
 0.3125 0.7917 0.6875 0.6458 0.8958 0.8333 0.7708 0.8542 0.9792 0.9375]

colonne FLOORSMIN_MEDI : [0.125  0.3333    nan 0.375  0.7083 0.0417 0.2083 0.4167 0.2917 0.
 0.5    0.625  0.0833 0.1667 0.5208 0.1042 0.6667 0.5417 0.25   0.5833
 0.2292 0.3125 0.4375 0.4792 0.2708 0.0625 0.1458 1.     0.6458 0.8333
 0.1875 0.3542 0.9583 0.0208 0.4583 0.9167 0.6042 0.75   0.3958 0.7708
 0.7917 0.5625 0.6875 0.7292 0.8125 0.9792 0.8542 0.875 ]

colonne LANDAREA_MEDI : [0.0375 0.0132    nan ... 0.29   0.447  0.2709]

colonne LIVINGAPARTMENTS_MEDI : [0.0205 0.0787    nan ... 0.8063 0.6088 0.3638]

colonne LIVINGAREA_MEDI : [0.0193 0.0558    nan ... 0.4333 0.6113 0.9445]

colonne NONLIVINGAPARTMENTS_MEDI : [0.     0.0039    nan 0.0194 0.0078 0.0019 0.066  0.0058 0.2601 0.0233
 0.0776 0.1941 0.0388 0.0155 0.2213 0.0116 0.0272 0.163  0.0311 0.0427
 0.0621 0.0505 0.0175 0.0291 0.0136 0.1281 0.0582 0.264  0.198  0.0485
 0.0466 0.0446 0.1165 0.0349 0.0815 0.0738 0.7492 0.1242 0.1514 1.
 0.0932 0.1436 0.0873 0.0543 0.229  0.0699 0.0893 0.1203 0.0097 0.2057
 0.1087 0.1397 0.2329 0.3843 0.0854 0.2873 0.132  0.0252 0.0214 0.3649
 0.1029 0.9976 0.0563 0.4619 0.3222 0.0757 0.3067 0.4231 0.1145 0.1009
 0.2096 0.1048 0.8463 0.1592 0.0718 0.6832 0.1359 0.2135 0.0524 0.3727
 0.5939 0.295  0.5163 0.1126 0.3998 0.2756 0.6211 0.2349 0.4697 0.1999
 0.0369 0.4387 0.4154 0.097  0.6599 0.5551 0.1669 0.9608 0.2795 0.2678
 0.2019 0.3106 0.1475 0.0951 0.5318 0.9394 0.889  0.6871 0.7104 0.2562
 0.6987 0.3144 0.9782 0.1495 0.4814 0.033  0.2232 0.5124 0.3513 0.3882
 0.2407 0.3028 0.2484 0.9317 0.3455 0.3261 0.2911 0.3338 0.33   0.2717
 0.0641 0.2174 0.3377 0.4192 0.4581 0.823  0.4464 0.3494 0.1786 0.1553
 0.4076 0.6444 0.2659 0.5435 0.8424 0.4289 0.5745 0.4348 0.2989 0.4658
 0.427  0.3319 0.0796 0.1824 0.3416 0.1184 0.1863 0.8734 0.7919 0.2931
 0.5046 0.7608 0.7065 0.396  0.3804 0.0408 0.2814 0.1747 0.3921 0.5241
 0.2523 0.6949 0.5396 0.1708 0.1902 0.2834 0.9511 0.3533 0.8928 0.4309
 0.2038 0.9938 0.6638 0.7764 0.6289 0.2368 0.4852 0.9161 0.4425 0.493
 0.8268 0.2446 0.9627 0.5959 0.2251 0.1417 0.3765 0.3125 0.5823 0.3183
 0.559  0.1805 0.8307 0.1262 0.8851 0.4872 0.1766 0.2465 0.13   0.7337
 0.4328 0.4969 0.5008 0.6327 0.6056]

colonne NONLIVINGAREA_MEDI : [0.     0.01      nan ... 0.3439 0.6947 0.294 ]

colonne FONDKAPREMONT_MODE : ['reg oper account' nan 'org spec account' 'reg oper spec account'
 'not specified']

colonne HOUSETYPE_MODE : ['block of flats' nan 'terraced house' 'specific housing']

colonne TOTALAREA_MODE : [0.0149 0.0714    nan ... 0.489  0.482  0.797 ]

colonne WALLSMATERIAL_MODE : ['Stone, brick' 'Block' nan 'Panel' 'Mixed' 'Wooden' 'Others' 'Monolithic']

colonne EMERGENCYSTATE_MODE : ['No' nan 'Yes']

colonne OBS_30_CNT_SOCIAL_CIRCLE : [  2.   1.   0.   4.   8.  10.  nan   7.   3.   6.   5.  12.   9.  13.
  11.  14.  22.  16.  15.  17.  20.  25.  19.  18.  21.  24.  23.  28.
  26.  29.  27.  47. 348.  30.]

colonne DEF_30_CNT_SOCIAL_CIRCLE : [ 2.  0.  1. nan  3.  4.  5.  6.  7. 34.  8.]

colonne OBS_60_CNT_SOCIAL_CIRCLE : [  2.   1.   0.   4.   8.  10.  nan   7.   3.   6.   5.  12.   9.  13.
  11.  14.  21.  15.  22.  16.  20.  25.  17.  19.  18.  24.  23.  28.
  29.  27.  47. 344.  30.  26.]

colonne DEF_60_CNT_SOCIAL_CIRCLE : [ 2.  0.  1. nan  3.  5.  4.  7. 24.  6.]

colonne DAYS_LAST_PHONE_CHANGE : [-1134.  -828.  -815. ... -3988. -3899. -3538.]

colonne FLAG_DOCUMENT_2 : [0 1]

colonne FLAG_DOCUMENT_3 : [1 0]

colonne FLAG_DOCUMENT_4 : [0 1]

colonne FLAG_DOCUMENT_5 : [0 1]

colonne FLAG_DOCUMENT_6 : [0 1]

colonne FLAG_DOCUMENT_7 : [0 1]

colonne FLAG_DOCUMENT_8 : [0 1]

colonne FLAG_DOCUMENT_9 : [0 1]

colonne FLAG_DOCUMENT_10 : [0 1]

colonne FLAG_DOCUMENT_11 : [0 1]

colonne FLAG_DOCUMENT_12 : [0 1]

colonne FLAG_DOCUMENT_13 : [0 1]

colonne FLAG_DOCUMENT_14 : [0 1]

colonne FLAG_DOCUMENT_15 : [0 1]

colonne FLAG_DOCUMENT_16 : [0 1]

colonne FLAG_DOCUMENT_17 : [0 1]

colonne FLAG_DOCUMENT_18 : [0 1]

colonne FLAG_DOCUMENT_19 : [0 1]

colonne FLAG_DOCUMENT_20 : [0 1]

colonne FLAG_DOCUMENT_21 : [0 1]

colonne AMT_REQ_CREDIT_BUREAU_HOUR : [ 0. nan  1.  2.  3.  4.]

colonne AMT_REQ_CREDIT_BUREAU_DAY : [ 0. nan  1.  3.  2.  4.  5.  6.  9.  8.]

colonne AMT_REQ_CREDIT_BUREAU_WEEK : [ 0. nan  1.  3.  2.  4.  5.  6.  8.  7.]

colonne AMT_REQ_CREDIT_BUREAU_MON : [ 0. nan  1.  2.  6.  5.  3.  7.  9.  4. 11.  8. 16. 12. 14. 10. 13. 17.
 24. 19. 15. 23. 18. 27. 22.]

colonne AMT_REQ_CREDIT_BUREAU_QRT : [  0.  nan   1.   2.   4.   3.   8.   5.   6.   7. 261.  19.]

colonne AMT_REQ_CREDIT_BUREAU_YEAR : [ 1.  0. nan  2.  4.  5.  3.  8.  6.  9.  7. 10. 11. 13. 16. 12. 25. 23.
 15. 14. 22. 17. 19. 18. 21. 20.]

#### Analyse des "XNA"

In [6]:
columns_to_inspect = ['CODE_GENDER','ORGANIZATION_TYPE']

print(f'Nb XNA per column :\n')

for i in columns_to_inspect :
    l = dt_train[i].values.tolist()
    values_count = dict([(k, l.count(k)) for k in set(l)])
    nb = values_count['XNA']
    print(f'- colonne {i} : {nb}')

Nb XNA per column :

- colonne CODE_GENDER : 4
- colonne ORGANIZATION_TYPE : 55374

#### Analyse des "Unknown"

In [7]:
nb_unknown = 0

for i in range(len(dt_train['NAME_FAMILY_STATUS'])) :
    if dt_train['NAME_FAMILY_STATUS'][i] == 'Unknown' :
        nb_unknown += 1

print(f'La colonne "NAME_FAMILY_STATUS" contient {nb_unknown} "Unknown"')

La colonne "NAME_FAMILY_STATUS" contient 2 "Unknown"

#### Analyse des valeurs diverses

In [8]:
columns_to_inspect = ['OWN_CAR_AGE','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH','CNT_FAM_MEMBERS']

print(f'Nb incompatible data per column :\n')

#for i in dt_columns_inspect :
  
analyse = dt_train[columns_to_inspect].describe()

for i in columns_to_inspect :
    
    print(f"{i} :")
    print(f"\t -> MIN : {analyse[i]['min']}")
    print(f"\t -> MAX : {analyse[i]['max']}")
    print(f"\n-------------------------\n")

Nb incompatible data per column :

OWN_CAR_AGE :
	 -> MIN : 0.0
	 -> MAX : 91.0

-------------------------

CNT_CHILDREN :
	 -> MIN : 0.0
	 -> MAX : 19.0

-------------------------

AMT_INCOME_TOTAL :
	 -> MIN : 25650.0
	 -> MAX : 117000000.0

-------------------------

AMT_CREDIT :
	 -> MIN : 45000.0
	 -> MAX : 4050000.0

-------------------------

AMT_ANNUITY :
	 -> MIN : 1615.5
	 -> MAX : 258025.5

-------------------------

AMT_GOODS_PRICE :
	 -> MIN : 40500.0
	 -> MAX : 4050000.0

-------------------------

DAYS_BIRTH :
	 -> MIN : -25229.0
	 -> MAX : -7489.0

-------------------------

DAYS_EMPLOYED :
	 -> MIN : -17912.0
	 -> MAX : 365243.0

-------------------------

DAYS_REGISTRATION :
	 -> MIN : -24672.0
	 -> MAX : 0.0

-------------------------

DAYS_ID_PUBLISH :
	 -> MIN : -7197.0
	 -> MAX : 0.0

-------------------------

CNT_FAM_MEMBERS :
	 -> MIN : 1.0
	 -> MAX : 20.0

-------------------------

#### Analyse des NaN

In [9]:
incomplet_data = 0

column_with_nan = []
tab_count_nan = []

for i in dt_columns :
    verif = dt_train[i].isna().sum()
    if verif != 0 :
        column_with_nan.append(i)
        tab_count_nan.append(dt_train[i].isna().sum())
        
    incomplet_data += dt_train[i].isna().sum()

nan_analysis = pd.DataFrame({'Feature' : column_with_nan ,  'Nb_NaN' : tab_count_nan})

print(f"{len(column_with_nan)} colonnes contiennet au moins un 'NaN' :")

nan_analysis

67 colonnes contiennet au moins un 'NaN' :

                       Feature  Nb_NaN
0                  AMT_ANNUITY      12
1              AMT_GOODS_PRICE     278
2              NAME_TYPE_SUITE    1292
3                  OWN_CAR_AGE  202929
4              OCCUPATION_TYPE   96391
..                         ...     ...
62   AMT_REQ_CREDIT_BUREAU_DAY   41519
63  AMT_REQ_CREDIT_BUREAU_WEEK   41519
64   AMT_REQ_CREDIT_BUREAU_MON   41519
65   AMT_REQ_CREDIT_BUREAU_QRT   41519
66  AMT_REQ_CREDIT_BUREAU_YEAR   41519

[67 rows x 2 columns]

In [10]:
total_info = len(dt_train['SK_ID_CURR']) * len(dt_columns)

print(f"Total Data = {total_info}")
print(f"Missing Data = {incomplet_data}")
print(f"Missing Data Rate = {round( (incomplet_data / total_info),2) * 100} %")

Total Data = 37516342
Missing Data = 9152465
Missing Data Rate = 24.0 %

### Résultats de l'analyse :

- La colonne NAME_TYPE_SUITE contient des valeurs à unifier et d'autres à renomer :
    - Other_A & Other_B => Other
    - Spouse, partner => Partner


- La colonne NAME_EDUCATION_TYPE contient des valeurs à renomer :
    - Secondary / secondary special => Secondary


- La colonne NAME_FAMILY_STATUS contient des valeurs à renomer :
    - Single / not married => Single


- La colonne NAME_HOUSING_TYPE contient des valeurs à renomer :
    - House / Apartment => Housing owner


- La colonne ORGANIZATION_TYPE contient des valeurs à unifier :
    - Business Entity Type
    - Transport
    - Industry
    - Trade


- Les lignes contenant la valeurs 'XNA' / 'Unknown' sont à retirer des colonnes :
    - CODE_GENDER
    - NAME_FAMILY_STATUS
    
> Remarque : on ne peut pas déduire le sexe d'une personne ou sa situation familiale car les données que nous avons ne servent pas et ne permettent pas de déduire ce type d'information. On pourrait le faire mais le résultat sera non seulement non pertient mais cela voudrait en plus dire que le sexe et la situation d'une personne peuvent être définis par le niveau financier qu'elle détient.
    
- Les autres 'XNA' de la table sont à remplacer par des NaN


- Les valeurs extrêmes de la colonne DAYS_EMPLOYED sont à remplacer :
    - 365243 => NaN


- Créations de nouvelles colonnes :
    - TOTAL_AMT_CREDIT => somme totale qui doit être remboursée à la banque
    - PER_ANNUITY => Pourcentage de l'annuité dans la somme total à rembourser
    - CREDIT_PER_ON_GOODPRICE => Pourcentage de la part de somme empreinté pour l'achat du bien
    - YEARS_BIRTH => Age en années
    - PER_WORKED_DAYS => Pourcentage de jours d'occupation de l'emploie actuel sur le nombre total de jours vécus jusqu'à l'application du prêt
    - REGISTRATION_CHANGED => Si changement de l'inscription, vaut 1, sinon 0
    - ID_PUBLISH_CHANGED => Si changement de doc avant prêt, vaut 1, sinon 0
    - CAR_AGE_RANGE => Catégorie d'ancienneté du vahicule possédé
    - PHONE_CONTACTS => Nombre de numéro de téléphones fournis par le client
    - PHONE_CHANGED => Si changement de téléphone, vaut 1, sinon 0
    - ALL_DOCUMENTS_PROVIDED => 1 si dossier complet, sinon 0
    - TOTAL_AMT_REQ_CREDIT_BUREAU => Nombre de demandes de renseignement à propos du client, avant l'application du crédit

# III - Nettoyage des données

### Création de nouvelles colonnes

REAMRQUE : certaines colonnes ne sauront pas calculées avant d'avoir complété les données manquantes de la table

In [11]:
# YEARS_BIRTH : age en années
dt_train['YEARS_BIRTH'] = round((dt_train['DAYS_BIRTH'] / 365),0) * -1

# AGE_RANGE : age en années
dt_train['AGE_IN_YEARS_RANGE'] = pd.cut(x = dt_train['YEARS_BIRTH'], bins=[0, 25, 45, 65, 99], labels=[1, 2, 3, 4])

# PER_WORKED_DAYS : pourcentage de jours de sa vie passé à occuper le poste actuel
dt_train['PER_WORKED_DAYS'] = round(((dt_train['DAYS_EMPLOYED'] / dt_train['DAYS_BIRTH']) * 100),2)

# REGISTRATION_CHANGED : est ce qu'il y a eu changement de l'application choisi
dt_train['REGISTRATION_CHANGED'] = dt_train['DAYS_REGISTRATION'].apply(lambda x: 1 if x != 0 else 0)

# ID_PUBLISH_CHANGED : est ce qu'il y a eu changement de l'application choisi
dt_train['ID_PUBLISH_CHANGED'] = dt_train['DAYS_ID_PUBLISH'].apply(lambda x: 1 if x != 0 else 0)

# CAR_AGE_RANGE
dt_train['CAR_AGE_RANGE'] = pd.cut(x = dt_train['OWN_CAR_AGE'], bins=[0,10,20,91], labels=[1, 2, 3])

# PHONE_CONTACTS : nombre de num de tel renseignés
dt_train['PHONE_CONTACTS'] = dt_train['FLAG_MOBIL'] + dt_train['FLAG_EMP_PHONE'] + dt_train['FLAG_WORK_PHONE'] + dt_train['FLAG_PHONE'] + dt_train['FLAG_EMAIL']

# PHONE_CHANGED : y a-t-il eu changement de tel
dt_train['PHONE_CHANGED'] = dt_train['DAYS_LAST_PHONE_CHANGE'].apply(lambda x: 1 if x != 0 else 0)

# ALL_DOCUMENTS_PROVIDED
dt_train['Nb_Documents_provided'] = dt_train['FLAG_DOCUMENT_2'] + dt_train['FLAG_DOCUMENT_3'] + dt_train['FLAG_DOCUMENT_4'] + dt_train['FLAG_DOCUMENT_5'] + dt_train['FLAG_DOCUMENT_6'] + dt_train['FLAG_DOCUMENT_7'] + dt_train['FLAG_DOCUMENT_8'] + dt_train['FLAG_DOCUMENT_9'] + dt_train['FLAG_DOCUMENT_10'] + dt_train['FLAG_DOCUMENT_11'] + dt_train['FLAG_DOCUMENT_12'] + dt_train['FLAG_DOCUMENT_13'] + dt_train['FLAG_DOCUMENT_14'] + dt_train['FLAG_DOCUMENT_15'] + dt_train['FLAG_DOCUMENT_16'] + dt_train['FLAG_DOCUMENT_17'] + dt_train['FLAG_DOCUMENT_18'] + dt_train['FLAG_DOCUMENT_19'] + dt_train['FLAG_DOCUMENT_20'] + dt_train['FLAG_DOCUMENT_21']
dt_train['DOCUMENTS_PROVIDED'] = dt_train['Nb_Documents_provided'].apply(lambda x: 1 if x != 0 else 0)

### Retrait des lignes inutiles

In [12]:
dt_train = dt_train[dt_train['CODE_GENDER'] != 'XNA']
dt_train = dt_train[dt_train['NAME_FAMILY_STATUS'] != 'Unknown']

### Réctification des valeurs incorrectes

In [13]:
# NAME_TYPE_SUITE
dt_train['NAME_TYPE_SUITE']=np.where(dt_train['NAME_TYPE_SUITE'] == 'Other_A', 'Other', dt_train['NAME_TYPE_SUITE'])
dt_train['NAME_TYPE_SUITE']=np.where(dt_train['NAME_TYPE_SUITE'] == 'Other_B', 'Other', dt_train['NAME_TYPE_SUITE'])
dt_train['NAME_TYPE_SUITE']=np.where(dt_train['NAME_TYPE_SUITE'] == 'Spouse, partner', 'Partner', dt_train['NAME_TYPE_SUITE'])

# NAME_EDUCATION_TYPE
dt_train['NAME_EDUCATION_TYPE']=np.where(dt_train['NAME_EDUCATION_TYPE'] == 'Secondary / secondary special', 'Secondary', dt_train['NAME_EDUCATION_TYPE'])

# NAME_FAMILY_STATUS
dt_train['NAME_FAMILY_STATUS']=np.where(dt_train['NAME_FAMILY_STATUS'] == 'Single / not married', 'Single', dt_train['NAME_FAMILY_STATUS'])

# NAME_HOUSING_TYPE
dt_train['NAME_HOUSING_TYPE']=np.where(dt_train['NAME_HOUSING_TYPE'] == 'House / apartment', 'Housing owner', dt_train['NAME_HOUSING_TYPE'])

# ORGANIZATION_TYPE    
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Business Entity Type 1', 'Business', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Business Entity Type 2', 'Business', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Business Entity Type 3', 'Business', dt_train['ORGANIZATION_TYPE'])

dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Transport: type 1', 'Transport', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Transport: type 2', 'Transport', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Transport: type 3', 'Transport', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Transport: type 4', 'Transport', dt_train['ORGANIZATION_TYPE'])

dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 1', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 2', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 3', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 4', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 5', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 6', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 7', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 8', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 9', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 10', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 11', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 12', 'Industry', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Industry: type 13', 'Industry', dt_train['ORGANIZATION_TYPE'])

dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Trade: type 1', 'Trade', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Trade: type 2', 'Trade', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Trade: type 3', 'Trade', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Trade: type 4', 'Trade', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Trade: type 5', 'Trade', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Trade: type 6', 'Trade', dt_train['ORGANIZATION_TYPE'])
dt_train['ORGANIZATION_TYPE']=np.where(dt_train['ORGANIZATION_TYPE'] == 'Trade: type 7', 'Trade', dt_train['ORGANIZATION_TYPE'])
    
# DAYS_EMPLOYED
dt_train['DAYS_EMPLOYED']=np.where(dt_train['DAYS_EMPLOYED'] == 365243, np.nan, dt_train['DAYS_EMPLOYED'])

### Retrait des colonnes inutiles

In [14]:
dt_train = dt_train.drop(['REGION_RATING_CLIENT',
'DAYS_BIRTH','HOUR_APPR_PROCESS_START','DAYS_REGISTRATION',
'APARTMENTS_AVG','DAYS_ID_PUBLISH',
'BASEMENTAREA_AVG','YEARS_BEGINEXPLUATATION_AVG',
'YEARS_BUILD_AVG','COMMONAREA_AVG',
'OWN_CAR_AGE','ELEVATORS_AVG','ENTRANCES_AVG',
'FLOORSMAX_AVG','FLOORSMIN_AVG','LANDAREA_AVG',
'LIVINGAPARTMENTS_AVG','LIVINGAREA_AVG',
'NONLIVINGAPARTMENTS_AVG','NONLIVINGAREA_AVG',
'APARTMENTS_MODE','FLAG_MOBIL','FLAG_EMP_PHONE',
'FLAG_WORK_PHONE','FLAG_PHONE','FLAG_EMAIL',
'BASEMENTAREA_MODE','YEARS_BEGINEXPLUATATION_MODE','YEARS_BUILD_MODE',
'COMMONAREA_MODE','ELEVATORS_MODE','ENTRANCES_MODE',
'FLOORSMAX_MODE','FLOORSMIN_MODE','LANDAREA_MODE',
'LIVINGAPARTMENTS_MODE','LIVINGAREA_MODE','NONLIVINGAPARTMENTS_MODE',
'NONLIVINGAREA_MODE','APARTMENTS_MEDI','BASEMENTAREA_MEDI',
'YEARS_BEGINEXPLUATATION_MEDI','YEARS_BUILD_MEDI','COMMONAREA_MEDI',
'ELEVATORS_MEDI','ENTRANCES_MEDI','FLOORSMAX_MEDI','FLOORSMIN_MEDI',
'LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','LIVINGAREA_MEDI','NONLIVINGAPARTMENTS_MEDI',
'NONLIVINGAREA_MEDI','FONDKAPREMONT_MODE','HOUSETYPE_MODE','TOTALAREA_MODE','WALLSMATERIAL_MODE',
'EMERGENCYSTATE_MODE','DAYS_LAST_PHONE_CHANGE','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4',
'FLAG_DOCUMENT_5','FLAG_DOCUMENT_6','FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9',
'FLAG_DOCUMENT_10','FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15',
'FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18','FLAG_DOCUMENT_19','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21',
'Nb_Documents_provided'], axis = 1)

### Convertions valeurs

#### Convertion valeurs globales

In [15]:
# XNA => NaN
dt_train = dt_train.replace('XNA', np.nan)

# Y => 1
dt_train = dt_train.replace('Y', 1)

# N => 0
dt_train = dt_train.replace('N', 0)

#### Convertion valeurs spécifiques aux colonnes

##### Détection des colonnes à modifer

In [16]:
# récupération des colonnes à reformer
colonne_reform = []

columnes_with_str = dt_train.columns

for i in columnes_with_str :
    cran = 1
    while cran != 0 :
        if dt_train[i][0] != np.nan :
            cran = 0
            if type(dt_train[i][0]) == str :
                colonne_reform.append(i)

colonne_reform

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE']

In [17]:
longest_list = 0


# récupération du plus grand nombre de valeurs uniques présent dans une colonne 
for i in colonne_reform :
    if len(dt_train[i].unique()) > longest_list :
        longest_list = len(dt_train[i].unique())


# création d'un tableau de sauvegarde des colonnes contenant des valeurs uniques de type "chaine de caractères"      
values_save = [[''] * (longest_list+1) for x in range(len(colonne_reform))]

# remplissage du tableau de sauvegarde
for i in range (len(colonne_reform)) :
    
    values_save[i][0] = colonne_reform[i]
    
    valeurs_uniques = dt_train[colonne_reform[i]].unique()
    
    j = 1
    diff = 1
        
    for j in range (len(valeurs_uniques)) :
   
        if type(valeurs_uniques[j]) == str :
            values_save[i][j+diff] = valeurs_uniques[j]
        else :
            diff -= 1
        

values_save

[['NAME_CONTRACT_TYPE',
  'Cash loans',
  'Revolving loans',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['CODE_GENDER',
  'M',
  'F',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_TYPE_SUITE',
  'Unaccompanied',
  'Family',
  'Partner',
  'Children',
  'Other',
  'Group of people',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_INCOME_TYPE',
  'Working',
  'State servant',
  'Commercial associate',
  'Pensioner',
  'Unemployed',
  'Student',
  'Businessman',
  'Maternity leave',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_EDUCATION_TYPE',
  'Secondary',
  'Higher education',
  'Incomplete higher',
  'Lower secondary',
  'Academic degree',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_FAMILY_STATUS',
  'Single',
  'Married',
  'Civil marriage',
  'Widow',
  'Separated',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_HOUSING_TYPE',
  'Housing owner',
  'Rented apartment',
  'With parents',
  'Municipal apartment',
  'Office apartment',
  'Co-op apartment',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['OCCUPATION_TYPE',
  'Laborers',
  'Core staff',
  'Accountants',
  'Managers',
  'Drivers',
  'Sales staff',
  'Cleaning staff',
  'Cooking staff',
  'Private service staff',
  'Medicine staff',
  'Security staff',
  'High skill tech staff',
  'Waiters/barmen staff',
  'Low-skill Laborers',
  'Realty agents',
  'Secretaries',
  'IT staff',
  'HR staff',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['WEEKDAY_APPR_PROCESS_START',
  'WEDNESDAY',
  'MONDAY',
  'THURSDAY',
  'SUNDAY',
  'SATURDAY',
  'FRIDAY',
  'TUESDAY',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['ORGANIZATION_TYPE',
  'Business',
  'School',
  'Government',
  'Religion',
  'Other',
  'Electricity',
  'Medicine',
  'Self-employed',
  'Transport',
  'Construction',
  'Housing',
  'Kindergarten',
  'Trade',
  'Industry',
  'Military',
  'Services',
  'Security Ministries',
  'Emergency',
  'Security',
  'University',
  'Police',
  'Postal',
  'Agriculture',
  'Restaurant',
  'Culture',
  'Hotel',
  'Bank',
  'Insurance',
  'Mobile',
  'Legal Services',
  'Advertising',
  'Cleaning',
  'Telecom',
  'Realtor',
  '']]

##### Transformation des chaines de caractère en équivalent de type integer

In [18]:
# [i][0] ==> Colonnes

for i in range (len(values_save)) :
    for j in range (len(values_save[i])) :
        dt_train[values_save[i][0]] = dt_train[values_save[i][0]].replace(values_save[i][j], j)

In [19]:
dt_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_YEAR,YEARS_BIRTH,AGE_IN_YEARS_RANGE,PER_WORKED_DAYS,REGISTRATION_CHANGED,ID_PUBLISH_CHANGED,CAR_AGE_RANGE,PHONE_CONTACTS,PHONE_CHANGED,DOCUMENTS_PROVIDED
0,100002,1,1,1,0,1,0,202500.0,406597.5,24700.5,...,1.0,26.0,2,6.73,1,1,NaN,3,1,1
1,100003,0,1,2,0,0,0,270000.0,1293502.5,35698.5,...,0.0,46.0,3,7.09,1,1,NaN,3,1,1
2,100004,0,2,1,1,1,0,67500.0,135000.0,6750.0,...,0.0,52.0,3,1.18,1,1,3,4,1,0
3,100006,0,1,2,0,1,0,135000.0,312682.5,29686.5,...,NaN,52.0,3,15.99,1,1,NaN,2,1,1
4,100007,0,1,1,0,1,0,121500.0,513000.0,21865.5,...,0.0,55.0,3,15.24,1,1,NaN,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,1,1,0,0,0,157500.0,254700.0,27558.0,...,NaN,26.0,2,2.53,1,1,NaN,2,1,1
307507,456252,0,1,2,0,1,0,72000.0,269550.0,12001.5,...,NaN,57.0,3,-1758.09,1,1,NaN,2,0,1
307508,456253,0,1,2,0,1,0,153000.0,677664.0,29979.0,...,1.0,41.0,2,52.93,1,1,NaN,3,1,1
307509,456254,1,1,2,0,1,0,171000.0,370107.0,20205.0,...,0.0,33.0,2,40.01,1,1,NaN,2,1,1
307510,456255,0,1,2,0,0,0,157500.0,675000.0,49117.5,...,1.0,46.0,3,7.49,1,1,NaN,4,1,1

### Analyse des données après nettoyage

Nous remarquons que nos étapes de distilation des données a été utile parce que nous avons une donnée plus pure, plus pertinente, avec moins de données manquantes.
Cela va donc nous permettre de compléter les missing datas avec des information beaucoup plus pertinentes !

In [20]:
dt_columns = dt_train.columns

incomplet_data = 0

column_with_nan = []
tab_count_nan = []

for i in dt_columns :
    verif = dt_train[i].isna().sum()
    if verif != 0 :
        column_with_nan.append(i)
        tab_count_nan.append(dt_train[i].isna().sum())
        
    incomplet_data += dt_train[i].isna().sum()

nan_analysis = pd.DataFrame({'Feature' : column_with_nan ,  'Nb_NaN' : tab_count_nan})

print(f"{len(column_with_nan)} colonnes contiennet au moins un 'NaN' :")

nan_analysis

20 colonnes contiennet au moins un 'NaN' :

                       Feature  Nb_NaN
0                  AMT_ANNUITY      12
1              AMT_GOODS_PRICE     276
2              NAME_TYPE_SUITE    1290
3                DAYS_EMPLOYED   55374
4              OCCUPATION_TYPE   96389
5            ORGANIZATION_TYPE   55374
6                 EXT_SOURCE_1  173375
7                 EXT_SOURCE_2     660
8                 EXT_SOURCE_3   60964
9     OBS_30_CNT_SOCIAL_CIRCLE    1021
10    DEF_30_CNT_SOCIAL_CIRCLE    1021
11    OBS_60_CNT_SOCIAL_CIRCLE    1021
12    DEF_60_CNT_SOCIAL_CIRCLE    1021
13  AMT_REQ_CREDIT_BUREAU_HOUR   41518
14   AMT_REQ_CREDIT_BUREAU_DAY   41518
15  AMT_REQ_CREDIT_BUREAU_WEEK   41518
16   AMT_REQ_CREDIT_BUREAU_MON   41518
17   AMT_REQ_CREDIT_BUREAU_QRT   41518
18  AMT_REQ_CREDIT_BUREAU_YEAR   41518
19               CAR_AGE_RANGE  205059

In [21]:
total_info = len(dt_train['SK_ID_CURR']) * len(dt_columns)

print(f"Total Data = {total_info}")
print(f"Missing Data = {incomplet_data}")
print(f"Missing Data Rate = {round( (incomplet_data / total_info),2) * 100} %")

Total Data = 15990260
Missing Data = 901965
Missing Data Rate = 6.0 %

### Traitement des NaN

#### Récupération des colonnes contenant des NaN

In [22]:
columns_with_NA = []
for i in nan_analysis['Feature'] :
    columns_with_NA.append(i)
    
X_with_NaN = dt_train[columns_with_NA]

#### Calcul des NaN via le KNNImputer

In [23]:
nb_iteration = len(X_with_NaN) / 5000

if float(nb_iteration).is_integer() == False :
    nb_iteration = ceil(nb_iteration)
    last_round_incomplet = True
    
df_result = 0
v = 0
s = 0

print(nb_iteration)

while v < (nb_iteration-1) :
    
    f = s + 5000
    
    if v < (nb_iteration-2) :
        
        X_with_NaN_used = X_with_NaN[s:f]
        
        imputer = KNNImputer(n_neighbors = 15)
        
        X_without_nan = imputer.fit_transform(X_with_NaN_used)
        
        X_df_result = pd.DataFrame(X_without_nan,columns=X_with_NaN_used.columns)
        
        if v == 0 :
            df_result = X_df_result
        
        if v > 0 :
            df_result = pd.concat([df_result,X_df_result], ignore_index=True)
        
        print(f'==> Round {v} completed !!!')
        
        v += 1    
        
    else :
        
        X_with_NaN_used = X_with_NaN[s:]
        
        imputer = KNNImputer(n_neighbors = 15)
  
        X_without_nan = imputer.fit_transform(X_with_NaN_used)
        
        X_df_result = pd.DataFrame(X_without_nan,columns=X_with_NaN_used.columns)
        
        df_result = pd.concat([df_result,X_df_result], ignore_index=True)
        
        v += 1
        
        print('==> Last round completed !!!')
        
    if v < (nb_iteration-1) :
        s = f

62
==> Round 0 completed !!!
==> Round 1 completed !!!
==> Round 2 completed !!!
==> Round 3 completed !!!
==> Round 4 completed !!!
==> Round 5 completed !!!
==> Round 6 completed !!!
==> Round 7 completed !!!
==> Round 8 completed !!!
==> Round 9 completed !!!
==> Round 10 completed !!!
==> Round 11 completed !!!
==> Round 12 completed !!!
==> Round 13 completed !!!
==> Round 14 completed !!!
==> Round 15 completed !!!
==> Round 16 completed !!!
==> Round 17 completed !!!
==> Round 18 completed !!!
==> Round 19 completed !!!
==> Round 20 completed !!!
==> Round 21 completed !!!
==> Round 22 completed !!!
==> Round 23 completed !!!
==> Round 24 completed !!!
==> Round 25 completed !!!
==> Round 26 completed !!!
==> Round 27 completed !!!
==> Round 28 completed !!!
==> Round 29 completed !!!
==> Round 30 completed !!!
==> Round 31 completed !!!
==> Round 32 completed !!!
==> Round 33 completed !!!
==> Round 34 completed !!!
==> Round 35 completed !!!
==> Round 36 completed !!!
==> Round 37 completed !!!
==> Round 38 completed !!!
==> Round 39 completed !!!
==> Round 40 completed !!!
==> Round 41 completed !!!
==> Round 42 completed !!!
==> Round 43 completed !!!
==> Round 44 completed !!!
==> Round 45 completed !!!
==> Round 46 completed !!!
==> Round 47 completed !!!
==> Round 48 completed !!!
==> Round 49 completed !!!
==> Round 50 completed !!!
==> Round 51 completed !!!
==> Round 52 completed !!!
==> Round 53 completed !!!
==> Round 54 completed !!!
==> Round 55 completed !!!
==> Round 56 completed !!!
==> Round 57 completed !!!
==> Round 58 completed !!!
==> Round 59 completed !!!
==> Last round completed !!!

In [24]:
df_result

,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,DAYS_EMPLOYED,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,CAR_AGE_RANGE
0,24700.5,351000.0,1.0,-637.0,1.000000,1.000000,0.083037,0.262949,0.139376,2.0,2.0,2.0,2.0,0.000000,0.0,0.000000,0.000000,0.000000,1.000000,1.800000
1,35698.5,1129500.0,2.0,-1188.0,2.000000,2.000000,0.311267,0.622246,0.548131,1.0,0.0,1.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.666667
2,6750.0,135000.0,1.0,-225.0,1.000000,3.000000,0.461932,0.555912,0.729567,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,3.000000
3,29686.5,297000.0,1.0,-3039.0,1.000000,1.000000,0.449071,0.650442,0.506965,2.0,0.0,2.0,0.0,0.066667,0.0,0.066667,0.066667,0.200000,1.866667,1.733333
4,21865.5,513000.0,1.0,-3038.0,2.000000,4.000000,0.543744,0.322738,0.452414,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,27558.0,225000.0,1.0,-236.0,6.000000,16.000000,0.145570,0.681632,0.540520,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.066667,1.266667,1.400000
307501,12001.5,225000.0,1.0,-2267.4,5.133333,6.733333,0.486282,0.115992,0.448786,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.133333,0.400000,2.000000,1.400000
307502,29979.0,585000.0,1.0,-7921.0,4.000000,2.000000,0.744026,0.535722,0.218859,6.0,0.0,6.0,0.0,1.000000,0.0,0.000000,1.000000,0.000000,1.000000,1.533333
307503,20205.0,319500.0,1.0,-4786.0,1.000000,1.000000,0.451627,0.514163,0.661024,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.533333
307504,49117.5,675000.0,1.0,-1262.0,1.000000,1.000000,0.734460,0.708569,0.113922,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,2.000000,0.000000,1.000000,1.466667

#### Traitement du résultat obtenu pour les NaN

In [25]:
# OCCUPATION_TYPE => arrondir à l'entier le plus proche
df_result['OCCUPATION_TYPE'] = round(df_result['OCCUPATION_TYPE'])

# NAME_TYPE_SUITE => arrondir à l'entier le plus proche
df_result['NAME_TYPE_SUITE'] = round(df_result['NAME_TYPE_SUITE'])

# ORGANIZATION_TYPE => arrondir à l'entier le plus proche
df_result['ORGANIZATION_TYPE'] = round(df_result['ORGANIZATION_TYPE'])

# OBS_30_CNT_SOCIAL_CIRCLE => arrondir à l'entier le plus proche
df_result['OBS_30_CNT_SOCIAL_CIRCLE'] = round(df_result['OBS_30_CNT_SOCIAL_CIRCLE'])

# DEF_30_CNT_SOCIAL_CIRCLE => arrondir à l'entier le plus proche
df_result['DEF_30_CNT_SOCIAL_CIRCLE'] = round(df_result['DEF_30_CNT_SOCIAL_CIRCLE'])

# OBS_60_CNT_SOCIAL_CIRCLE => arrondir à l'entier le plus proche
df_result['OBS_60_CNT_SOCIAL_CIRCLE'] = round(df_result['OBS_60_CNT_SOCIAL_CIRCLE'])

# DEF_60_CNT_SOCIAL_CIRCLE => arrondir à l'entier le plus proche
df_result['DEF_60_CNT_SOCIAL_CIRCLE'] = round(df_result['DEF_60_CNT_SOCIAL_CIRCLE'])

# AMT_REQ_CREDIT_BUREAU_HOUR => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_HOUR'] = round(df_result['AMT_REQ_CREDIT_BUREAU_HOUR'])

# AMT_REQ_CREDIT_BUREAU_DAY => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_DAY'] = round(df_result['AMT_REQ_CREDIT_BUREAU_DAY'])

# AMT_REQ_CREDIT_BUREAU_WEEK => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_WEEK'] = round(df_result['AMT_REQ_CREDIT_BUREAU_WEEK'])

# AMT_REQ_CREDIT_BUREAU_MON => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_MON'] = round(df_result['AMT_REQ_CREDIT_BUREAU_MON'])

# AMT_REQ_CREDIT_BUREAU_QRT => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_QRT'] = round(df_result['AMT_REQ_CREDIT_BUREAU_QRT'])

# AMT_REQ_CREDIT_BUREAU_YEAR => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_YEAR'] = round(df_result['AMT_REQ_CREDIT_BUREAU_YEAR'])

# CAR_AGE_RANGE => arrondir à l'entier le plus proche
df_result['CAR_AGE_RANGE'] = round(df_result['CAR_AGE_RANGE'])

### Unification de la donnée Finale

#### On supprimes les anciennes colonnes avec les NaN

In [26]:
columnt_to_delet = df_result.columns.values.tolist()
dt_train = dt_train.drop(columnt_to_delet, axis = 1)

#### Ajout d'une colonnes de jointure à la table contenant la donnée sans NaN

In [27]:
index_id = []
for i in dt_train['SK_ID_CURR']:
    index_id.append(i)
    
df_result['SK_ID_CURR'] = index_id

#### Ajout des nouvelles colonnes sans NaN

In [28]:
dt_train = pd.merge(dt_train, df_result, on = 'SK_ID_CURR')

#### Traduction des valeur anciennement traduit en entiers

In [29]:
for i in range (len(values_save)) :
    for j in range (len(values_save[i])) :
        dt_train[values_save[i][0]] = dt_train[values_save[i][0]].replace(j,values_save[i][j])

#### Création des colonnes dépendant d'anciennes colonnes contenant des NaN

In [30]:
# Réctification incohérence entre CAR_AGE_RANGE & FLAG_OWN_CAR
for i in range(len(dt_train['SK_ID_CURR'])) :
    if dt_train['FLAG_OWN_CAR'][i] == 'N' :
        dt_train['CAR_AGE_RANGE'][i] = 0

# CREDIT_PER_ON_GOODPRICE : somme du bien souhaité crédité
dt_train['CREDIT_PER_ON_GOODPRICE'] = round(((dt_train['AMT_CREDIT'] / dt_train['AMT_GOODS_PRICE']) * 100),2)

# TOTAL_AMT_CREDIT : somme totale à rembourser
dt_train['TOTAL_AMT_CREDIT'] = dt_train['AMT_CREDIT'] + dt_train['AMT_ANNUITY']

# TOTAL_AMT_REQ_CREDIT_BUREAU : nombre total de demandes à propos du crédit au bureau, avant son application
dt_train['TOTAL_AMT_REQ_CREDIT_BUREAU'] = dt_train['AMT_REQ_CREDIT_BUREAU_HOUR'] + dt_train['AMT_REQ_CREDIT_BUREAU_DAY'] + dt_train['AMT_REQ_CREDIT_BUREAU_WEEK'] + dt_train['AMT_REQ_CREDIT_BUREAU_MON'] + dt_train['AMT_REQ_CREDIT_BUREAU_QRT'] + dt_train['AMT_REQ_CREDIT_BUREAU_YEAR']

In [31]:
# CREDIT_PER_ON_GOODPRICE : somme du bien souhaité crédité
dt_train['PER_ANNUITY'] = round(((dt_train['AMT_ANNUITY'] / dt_train['TOTAL_AMT_CREDIT']) * 100),2)

In [32]:
dt_train = dt_train.drop(['AMT_CREDIT','AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_QRT' ,'AMT_REQ_CREDIT_BUREAU_YEAR'], axis = 1)

### Analyse des données après nettoyage

In [33]:
incomplet_data = 0
for i in dt_train.columns.values.tolist() :      
    incomplet_data += dt_train[i].isna().sum()


total_info = len(dt_train['SK_ID_CURR']) * len(dt_columns)

print(f"Total Data = {total_info}")
print(f"Missing Data = {incomplet_data}")
print(f"Missing Data Rate = {round( (incomplet_data / total_info),2) * 100} %")

Total Data = 15990260
Missing Data = 0
Missing Data Rate = 0.0 %

In [34]:
dt_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,...,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,CAR_AGE_RANGE,CREDIT_PER_ON_GOODPRICE,TOTAL_AMT_CREDIT,TOTAL_AMT_REQ_CREDIT_BUREAU,PER_ANNUITY
0,100002,1,Cash loans,M,0,1,0,202500.0,Working,Secondary,...,0.139376,2.0,2.0,2.0,2.0,2.0,115.84,431298.0,1.0,5.73
1,100003,0,Cash loans,F,0,0,0,270000.0,State servant,Higher education,...,0.548131,1.0,0.0,1.0,0.0,2.0,114.52,1329201.0,0.0,2.69
2,100004,0,Revolving loans,M,1,1,0,67500.0,Working,Secondary,...,0.729567,0.0,0.0,0.0,0.0,3.0,100.00,141750.0,0.0,4.76
3,100006,0,Cash loans,F,0,1,0,135000.0,Working,Secondary,...,0.506965,2.0,0.0,2.0,0.0,2.0,105.28,342369.0,2.0,8.67
4,100007,0,Cash loans,M,0,1,0,121500.0,Working,Secondary,...,0.452414,0.0,0.0,0.0,0.0,2.0,100.00,534865.5,0.0,4.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,0,Cash loans,M,0,0,0,157500.0,Working,Secondary,...,0.540520,0.0,0.0,0.0,0.0,1.0,113.20,282258.0,1.0,9.76
307501,456252,0,Cash loans,F,0,1,0,72000.0,Pensioner,Secondary,...,0.448786,0.0,0.0,0.0,0.0,1.0,119.80,281551.5,2.0,4.26
307502,456253,0,Cash loans,F,0,1,0,153000.0,Working,Higher education,...,0.218859,6.0,0.0,6.0,0.0,2.0,115.84,707643.0,3.0,4.24
307503,456254,1,Cash loans,F,0,1,0,171000.0,Commercial associate,Secondary,...,0.661024,0.0,0.0,0.0,0.0,2.0,115.84,390312.0,0.0,5.18
307504,456255,0,Cash loans,F,0,0,0,157500.0,Commercial associate,Higher education,...,0.113922,0.0,0.0,0.0,0.0,1.0,100.00,724117.5,3.0,6.78

# Export du résultat final

In [48]:
dt_train.to_csv('Data_Base_Enhanced/train_enhanced.csv', index = False)