# Import des librairies

In [1]:
import numpy as np
import pandas as pd
from math import *
from sklearn.impute import KNNImputer

# 1 - Import et traitement de la table TEST

# I - Import de la table TEST

In [2]:
df_test = pd.read_csv("Data_Base/application_test.csv", header = 0, sep = ',')

In [3]:
df_test_copie = df_test

In [4]:
df_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [5]:
df_test.describe()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,48744.000000,48744.000000,4.874400e+04,4.874400e+04,48720.000000,4.874400e+04,48744.000000,48744.000000,48744.000000,48744.000000,...,48744.000000,48744.0,48744.0,48744.0,42695.000000,42695.000000,42695.000000,42695.000000,42695.000000,42695.000000
mean,277796.676350,0.397054,1.784318e+05,5.167404e+05,29426.240209,4.626188e+05,0.021226,-16068.084605,67485.366322,-4967.652716,...,0.001559,0.0,0.0,0.0,0.002108,0.001803,0.002787,0.009299,0.546902,1.983769
std,103169.547296,0.709047,1.015226e+05,3.653970e+05,16016.368315,3.367102e+05,0.014428,4325.900393,144348.507136,3552.612035,...,0.039456,0.0,0.0,0.0,0.046373,0.046132,0.054037,0.110924,0.693305,1.838873
min,100001.000000,0.000000,2.694150e+04,4.500000e+04,2295.000000,4.500000e+04,0.000253,-25195.000000,-17463.000000,-23722.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,188557.750000,0.000000,1.125000e+05,2.606400e+05,17973.000000,2.250000e+05,0.010006,-19637.000000,-2910.000000,-7459.250000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,277549.000000,0.000000,1.575000e+05,4.500000e+05,26199.000000,3.960000e+05,0.018850,-15785.000000,-1293.000000,-4490.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,367555.500000,1.000000,2.250000e+05,6.750000e+05,37390.500000,6.300000e+05,0.028663,-12496.000000,-296.000000,-1901.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000
max,456250.000000,20.000000,4.410000e+06,2.245500e+06,180576.000000,2.245500e+06,0.072508,-7338.000000,365243.000000,0.000000,...,1.000000,0.0,0.0,0.0,2.000000,2.000000,2.000000,6.000000,7.000000,17.000000

# II - Analyse des données brutes

Pour l'analyse des données, on se base sur la table "train". Par la suite, on appliquera les mêmes traitement de nettoyage et de sélection des donénes à la table "test"

### Analyse des valeurs uniques de chaque colonnes

#### Analyse globale

In [6]:
dt_columns = df_test.columns.values.tolist()

for i in dt_columns :
    print(f'colonne {i} : {df_test[i].unique()}\n')

colonne SK_ID_CURR : [100001 100005 100013 ... 456223 456224 456250]

colonne NAME_CONTRACT_TYPE : ['Cash loans' 'Revolving loans']

colonne CODE_GENDER : ['F' 'M']

colonne FLAG_OWN_CAR : ['N' 'Y']

colonne FLAG_OWN_REALTY : ['Y' 'N']

colonne CNT_CHILDREN : [ 0  2  1  3  8  4  6  5  7 20 11]

colonne AMT_INCOME_TOTAL : [ 135000.     99000.    202500.    315000.    180000.    270000.
  166500.    162000.     67500.    247500.     90000.    225000.
  175500.    157500.    337500.     76500.    112500.    360000.
  102150.    171000.    121500.    405000.    211500.    229500.
  144000.     40500.     92250.    279000.     87750.    126000.
   45000.    252000.    495000.    189000.    333000.     81000.
  193500.     63000.     94500.    292500.    198000.    216000.
  540000.    450000.    103500.    206100.    153747.    117000.
   58500.    234000.    675000.    261000.     72000.    382500.
  148500.    301500.     54000.     56700.    108000.    288000.
   85500.    153000.    387000.     57150.    207000.    254700.
   36000.     47250.    187398.    130500.    306000.    139500.
   74250.    607500.    265500.    256500.   1350000.    220500.
  432000.    101250.    274500.    378000.    324000.     78750.
  297000.     83250.    217350.     51750.     97920.    441000.
  161550.    168750.    136170.    135931.5    32850.    110250.
  567000.    218250.     51300.    191250.    472500.    342000.
   38754.    141750.    400500.    205200.     46800.     49500.
   48150.    283482.    283500.     66600.    238500.    585000.
  742500.     93150.     82350.    184500.    328500.    235327.5
   75150.     70200.    562500.    900000.    351000.     95661.
 1125000.    102784.5    78538.5    72900.    243000.     80100.
  720000.    427500.     44100.     60750.    195750.    945000.
   64350.     85950.    139320.    114750.    423000.    211950.
   71100.   2250000.   4410000.     29250.    666000.    810000.
  346500.    990000.    123750.    232200.     56250.    226867.5
  146250.    172957.5    27000.    244651.5    34290.    119250.
  179100.    137583.     31500.    144450.     74799.    177750.
  877500.    630000.    214650.     62437.5    95368.5   344250.
   40950.     95850.    652500.    206176.5    68400.    118350.
   55350.    122926.5   211810.5   173250.    106560.    117450.
  105750.    391500.     96750.    373554.     69750.     89100.
   54396.    369000.    172498.5   257850.     74304.     90832.5
  135603.    152100.     81900.     62100.     72675.     61200.
  242325.    319500.     99900.   2340000.   1575000.    340200.
   99805.5   164250.    414000.    206550.    213750.    182250.
  108900.    371250.    128250.    299250.     38250.    531000.
  517500.    116365.5   355500.     41400.    150750.     65250.
  197100.    393750.    310500.    204750.    787500.    114322.5
   28575.    104139.    250456.5   203530.5   110700.   1800000.
  159750.    765000.    116100.    137700.     52650.     72220.5
  396000.    162900.     48600.     39600.    165150.     40347.
  166050.    576000.     33300.    103230.    433800.     41850.
   66127.5    96300.    167400.    187650.     50850.    616500.
  124200.    308623.5    86197.5   132750.    445500.     77850.
  107550.    223650.    216900.     73350.     30150.    153729.
   37800.    323788.5    64800.     36900.    648000.    101700.
   44550.    109800.     92700.    286650.    185400.     58117.5
  111150.     45729.    107100.    113998.5   160884.    218700.
  711000.    105300.    223497.     98100.    175680.   1710000.
  133821.     32400.     65700.    117900.    373500.    174600.
  189373.5   526500.     68998.5    81702.     69300.    205650.
  976500.     84150.    194850.    108085.5   272857.5   226350.
  276300.    123975.     84600.    127800.    265050.     38700.
   62550.    200250.    146475.     91935.     84717.    114219.
   52200.    139950.     45900.    144094.59  250200.    177300.
  198292.5   180234.    280800.    187200.     28800.    222750.
   33750.    326565.    287100.     33768.    179001.    151713.
  291600.     50400.    129096.     70650.    209250.     66375.
  454500.    212710.5   140598.    241123.5   258300.    855000.
   42750.    486000.    175050.    145071.    130464.    158400.
  113850.    364500.    151650.     65682.    146389.5   152550.
  130252.5   188100.     26941.5    95562.     60525.    115699.5
  355023.    133200.     75964.5   128700.    120600.     87358.5
  129825.    186750.     93672.     85050.    326700.     39465.
  112936.5    83587.5    99886.5    83700.   1912500.    285750.
  210600.    106425.    183600.    159138.     50773.5    68850.
  174150.    280350.     46350.    142650.     63900.     97875.
   28350.    137250.    643500.     36810.    151200.    208350.
   79200.    151857.    144900.     95422.5    99225.    134226.
  307800.    127804.5   114300.    147775.5   124996.5   661500.
  168165.     88650.     91800.    179550.    146956.5   537462.
  227250.    210375.     72958.5   116550.    195300.     41202.
  201600.     82800.    100800.    186300.    330750.     77400.
  429750.     75469.5   180900.    102600.    140400.     31990.5
  315211.5   173700.     73800.    395100.     35100.    106650.
  504000.     88200.    200965.5   250821.    129375.     78322.5
  203850.     76950.    146592.    477000.    323100.    139050.
  295200.    236250.    144027.    160555.5   140971.5   232650.
  161100.     53248.5    97650.    114813.    444150.    927000.
  197113.5   164700.     79650.    188550.     83106.     54900.
  101106.    144342.    558000.     36400.5   115650.    189450.
 1035000.     94770.     63103.5    54450.     55854.    432900.
  221818.5  2700000.    115200.    170802.    147600.    190350.
  185337.    182700.     78102.    155250.    140139.    336375.
  130050.     72450.     66060.     40860.     30600.     55341.
  268200.    131400.    135045.    203400.    330300.     82228.5
  125892.    364909.5   107356.5  1080000.    418050.     78300.
  393300.    148392.    137713.5    50121.    123300.    164178.
  264150.    194400.     90868.5   294750.    143100.     56511.
  164587.5    47763.    353250.     36202.5    77787.   1260000.
  253800.    103050.    185481.    240300.    418500.    187879.5
   71550.    131994.    481500.     75883.5   108382.5    90652.5
 3150000.    165600.     57600.    130779.    104476.5    86850.
  118800.    155700.     79020.     73867.5   125100.     95319.
  394128.    436500.    243900.    121468.5   149400.    101556.
  439650.    571500.     97200.    100350.    222682.5   403200.
  137790.    104323.5   148180.5   459000.     99801.    160200.
  201150.    463500.     60300.    158287.5   409567.5   143739.
  132214.5    74803.5   138150.    162450.    428850.    100678.5
  271651.5    34650.     67905.    109350.    310122.    161244.  ]

colonne AMT_CREDIT : [ 568800.   222768.   663264.  ...  740218.5  511227.  1002339. ]

colonne AMT_ANNUITY : [20560.5 17370.  69777.  ... 37917.  40824.  46660.5]

colonne AMT_GOODS_PRICE : [ 450000.   180000.   630000.  1575000.   625500.   810000.   373500.
  315000.    45000.   675000.   216000.   225000.   360000.   157500.
  454500.   202500.   540000.  1012500.   418500.   945000.   400500.
  265500.   720000.   112500.  1800000.   472500.   247500.   463500.
  697500.   261000.   544500.   900000.   733500.  1125000.   243000.
  211500.    90000.   234000.  1741500.   405000.   135000.   238500.
  126000.    67500.   270000.   283500.   702000.   585000.   328500.
 1363500.   364500.   193500.   103500.   891000.   495000.   477000.
  297000.   301500.   562500.   186700.5  612000.   252000.   306000.
  292500.   171000.  1350000.    81000.   378000.   207000.  1035000.
  166500.   189000.  1080000.    58500.   346500.   382500.   351000.
  670500.   819000.   904500.   117000.  1354500.   148500.   990000.
   76500.   337500.   196366.5  558000.   787500.   567000.  1557000.
  441000.   162000.   139500.   459000.   594000.   778500.   369000.
  342000.   279000.    99000.   432000.   229500.   427500.   688500.
  108000.   603000.   886500.   643500.   796500.   144000.   639000.
  549000.   747000.   175500.    54000.   742500.   526500.  1485000.
  499500.  1530000.  1782000.   913500.   765000.   486000.   616500.
  513000.   513972.  1318500.   319500.  1296000.   481500.   355500.
  553500.   504000.  1723500.   846000.   324000.   927000.   396000.
  445500.   387000.  1147500.   255123.   198000.   832500.   706500.
  317092.5  274500.  1498500.   576000.   607500.   949500.   110902.5
  769500.   256500.  1237500.    63000.   648000.   409500.   855000.
  288000.   522000.   220500.   847728.  1102500.   909000.   495859.5
  517500.   252013.5  621000.   296100.  1755000.   922500.   121500.
 1597500.   598500.   679500.   711000.  1620000.   652500.  1408500.
 1372500.   118813.5  131634.   310500.  1624500.  1395000.   184500.
   49500.   738000.  1021500.  1377000.  1057500.    72000.  1269000.
  967500.   760500.   468000.   868500.   391500.   168075.   414000.
  287446.5 1044000.   423000.   729000.   751500.   657000.   376123.5
  291474.   333000.   531000.   580500.   882000.   436500.   169173.
 1327500.  1750500.   409851.   801306.  1084500.   571500.   158346.
  873000.  1665000.  1017000.   490500.   535500.   508500.   449995.5
  589500.    85500.   954000.   823500.   940500.  1170000.   130500.
  877500.   918000.   981000.   526576.5 1003500.  1701000.   931500.
 1431000.   828000.  1404000.  1476000.   666000.  1570500.   503572.5
 1174500.   994500.   126675.   237901.5 1332000.   859500.  1773000.
  976500.  1253565.  1107000.   715500.   237474.  1210500.  1602000.
 1224000.   248706.   958500.  1728000.  1543500.  1705500.  1417500.
  693000.  1534500.   661500.  1764000.    94500.   783000.  1687500.
 1777500.   153000.  1305000.   571986.  1669500.  1651500.   952663.5
  634500.   212233.5  684000.   774000.  1098000.  1075500.  1152000.
 1143000.   520227.   885600.   420898.5 1129500.   864000.   657733.5
  895500.  2160000.  1732500.   841500.   972000.  1336500.  1228500.
  805500.   814500.  1120500.  1615500.  1206000.   801000.   837000.
 1507500.  1759500.   455688.  1795500.   660937.5  813618.   484776.
 1737000.   348624.  1552500.  1521000.  1138500.  1048500.  1089000.
 1215000.   850549.5  141484.5  102874.5  206199.  1647000.   390285.
 1462500.   651006.   101988.   883674.   500454.  1282500.   503149.5
   98964.   253327.5  850500.   278221.5  303952.5  999000.   724500.
  622701.  1179000.  1440000.  1768500.  1449000.  1426500.   756000.
  597789.   217561.5 1219500.   562806.  1359000.   324666.   199467.
  388260.  1278000.  1345500.  1156500.   252580.5  886360.5  490900.5
  427185.  1791000.   300595.5  351765.   118759.5 1192500.  1386000.
  845041.5 1480500.   478935.   151006.5 1008000.    84240.   352260.
  318865.5 1471500.   263853.   208597.5  792000.   266683.5 1525500.
 1246500.  1242000.  1255500.  1260000.   565582.5  272380.5  448731.
  443421.  1444500.   384372.  1116000.   189846.  1066500.  1561500.
  329778.  1579500.  1467000.   487467.  1399500.  1030500.  1015942.5
  110272.5  519894.   330543.  1291500.  1093500.   167292.  1341000.
 1588500.   276772.5  175509.  1053000.   191772.   936000.  1719000.
 1309500.  1381500.   310077.   519475.5  209812.5 1660500.  1039500.
  146623.5  372996.    67045.5  287626.5  450643.5  898344.   745650.
  234576.  1071000.   182268.   705249.  1314000.  1197000.  1425681.
 1062000.   101587.5 1453500.  1746000.   221107.5  562342.5 1435500.
  281632.5  869818.5  753727.5 1458000.   193396.5 1710000.   342711.
  921883.5  260464.5  113256.   426465.  1512000.   226381.5  129253.5
  395532.   295551.   280264.5  141084.  1323000.   530266.5  378661.5
  606096.    94059.  1683000.   458118.   280867.5  458748.   238837.5
  161604.  1656000.  1233000.  1642500.   330304.5  382905.  1678500.
  164011.5  856836.   704245.5   90009.  1287000.   126360.   264825.
  263529.   501795.   475038.   430042.5 1134000.   679194.   213592.5
  268330.5  836739.   289665.  1786500.   475348.5  170572.5 1026000.
  696429.  1584000.    84586.5  140742.   281439.  1692000.   855283.5
  467208.  1188000.   327010.5  115564.5 1390500.   210933.   866817.
  648315.  1593000.   266040.   815449.5 1503000.   526189.5 1413000.
  437688.   894348.  1696500.   438187.5  481662.   649462.5 1566000.
 1183500.   507618.   398938.5  160056.    83641.5  192748.5  809415.
  297801.   651366.   359901.    63180.   571995.  1161000.    98203.5
  757120.5  307975.5  149382.  1548000.   352611.    68179.5  289512.
  678478.5 1368000.   396981.   525325.5  220297.5  286708.5  479506.5
  162063.   394168.5  461700.   623092.5  784323.   125698.5  204871.5
  697045.5  130572.  1714500.   532791.   148023.   985500.   105732.
  187047.   501646.5 1264522.5  183465.   496845.  1165500.   583011.
  528129.   319878.   365553.   415273.5  963000.   194976.   328504.5
  165784.5  506497.5 1273500.   824647.5 1489500.   816268.5 1343425.5
  769234.5  711373.5  239233.5  322033.5  822631.5  446202.   147235.5
 1246801.5   91048.5  639985.5 1264500.   168480.   204669.   264483.
 1111500.   464265.  1539000.    59377.5  173254.5  442363.5  102613.5
 1117957.5  225360.    70668.   826182.   854352.   386320.5  902457.
  273420.   147420.   180495.   119142.   315234.   454540.5  114192.
  125766.   249142.5   92457.   618759.   709407.  1276074.  1770430.5
  577881.   304668.   136525.5  113193.   343503.   358227.   813496.5
 1701661.5  749524.5 1494000.   138550.5 2245500.   146088.   139333.5
  380709.   118620.   588568.5  264177.   221571.  1316974.5  299493.
  338400.   833670.   265981.5  332428.5   68665.5  205123.5  289332.
  474192.   404446.5  431199.   477270.   404451. ]

colonne NAME_TYPE_SUITE : ['Unaccompanied' nan 'Family' 'Spouse, partner' 'Group of people'
 'Other_B' 'Children' 'Other_A']

colonne NAME_INCOME_TYPE : ['Working' 'State servant' 'Pensioner' 'Commercial associate'
 'Businessman' 'Student' 'Unemployed']

colonne NAME_EDUCATION_TYPE : ['Higher education' 'Secondary / secondary special' 'Incomplete higher'
 'Lower secondary' 'Academic degree']

colonne NAME_FAMILY_STATUS : ['Married' 'Single / not married' 'Civil marriage' 'Widow' 'Separated']

colonne NAME_HOUSING_TYPE : ['House / apartment' 'With parents' 'Rented apartment'
 'Municipal apartment' 'Office apartment' 'Co-op apartment']

colonne REGION_POPULATION_RELATIVE : [0.01885  0.035792 0.019101 0.026392 0.010032 0.025164 0.0228   0.005144
 0.04622  0.018634 0.003122 0.008019 0.01452  0.031329 0.032561 0.00702
 0.010147 0.007274 0.011657 0.072508 0.02461  0.010966 0.019689 0.005002
 0.030755 0.00496  0.015221 0.016612 0.018209 0.009175 0.020713 0.008474
 0.018029 0.028663 0.006629 0.010276 0.0105   0.018801 0.003069 0.006008
 0.007114 0.003818 0.00963  0.009334 0.020246 0.010556 0.010643 0.010006
 0.007305 0.022625 0.00733  0.006233 0.008068 0.008866 0.002134 0.002042
 0.009549 0.011703 0.006671 0.006852 0.014464 0.008625 0.006296 0.006207
 0.001276 0.005313 0.00823  0.005084 0.008575 0.003541 0.00712  0.006305
 0.002506 0.004849 0.009657 0.003813 0.001417 0.001333 0.000533 0.000938
 0.000253]

colonne DAYS_BIRTH : [-19241 -18064 -20038 ... -24168  -9192 -16019]

colonne DAYS_EMPLOYED : [-2329 -4469 -4458 ... -7435 -7172 -6551]

colonne DAYS_REGISTRATION : [ -5170.  -9118.  -2175. ...  -3481.  -9385. -12088.]

colonne DAYS_ID_PUBLISH : [ -812 -1623 -3503 ... -5384 -5228 -6120]

colonne OWN_CAR_AGE : [nan  5. 16. 10.  3. 14. 11. 15.  8. 20. 22.  1. 19.  0. 21. 13.  4.  6.
  9. 42. 24.  2. 23. 17. 29. 35. 31. 65.  7. 26. 25. 18. 12. 30. 36. 34.
 32. 28. 39. 27. 37. 41. 40. 50. 38. 56. 33. 74. 43. 44. 55. 49. 52.]

colonne FLAG_MOBIL : [1 0]

colonne FLAG_EMP_PHONE : [1 0]

colonne FLAG_WORK_PHONE : [0 1]

colonne FLAG_CONT_MOBILE : [1 0]

colonne FLAG_PHONE : [0 1]

colonne FLAG_EMAIL : [1 0]

colonne OCCUPATION_TYPE : [nan 'Low-skill Laborers' 'Drivers' 'Sales staff' 'High skill tech staff'
 'Core staff' 'Laborers' 'Managers' 'Accountants' 'Medicine staff'
 'Security staff' 'Private service staff' 'Secretaries' 'Cleaning staff'
 'Cooking staff' 'HR staff' 'Waiters/barmen staff' 'Realty agents'
 'IT staff']

colonne CNT_FAM_MEMBERS : [ 2.  4.  3.  1.  5. 10.  6.  7.  8.  9. 21. 13.]

colonne REGION_RATING_CLIENT : [2 1 3]

colonne REGION_RATING_CLIENT_W_CITY : [ 2  1  3 -1]

colonne WEEKDAY_APPR_PROCESS_START : ['TUESDAY' 'FRIDAY' 'MONDAY' 'WEDNESDAY' 'THURSDAY' 'SATURDAY' 'SUNDAY']

colonne HOUR_APPR_PROCESS_START : [18  9 14 11  5 15  7 17 10 12 13  8  4 19 16  3  6  2 23 20 21 22  1  0]

colonne REG_REGION_NOT_LIVE_REGION : [0 1]

colonne REG_REGION_NOT_WORK_REGION : [0 1]

colonne LIVE_REGION_NOT_WORK_REGION : [0 1]

colonne REG_CITY_NOT_LIVE_CITY : [0 1]

colonne REG_CITY_NOT_WORK_CITY : [0 1]

colonne LIVE_CITY_NOT_WORK_CITY : [0 1]

colonne ORGANIZATION_TYPE : ['Kindergarten' 'Self-employed' 'Transport: type 3'
 'Business Entity Type 3' 'Government' 'Industry: type 9' 'School'
 'Trade: type 2' 'XNA' 'Services' 'Bank' 'Industry: type 3' 'Other'
 'Trade: type 6' 'Industry: type 12' 'Trade: type 7' 'Postal' 'Medicine'
 'Housing' 'Business Entity Type 2' 'Construction' 'Military'
 'Industry: type 4' 'Trade: type 3' 'Legal Services' 'Security'
 'Industry: type 11' 'University' 'Business Entity Type 1' 'Agriculture'
 'Security Ministries' 'Transport: type 2' 'Industry: type 7'
 'Transport: type 4' 'Telecom' 'Emergency' 'Police' 'Industry: type 1'
 'Transport: type 1' 'Electricity' 'Industry: type 5' 'Hotel' 'Restaurant'
 'Advertising' 'Mobile' 'Trade: type 1' 'Industry: type 8' 'Realtor'
 'Cleaning' 'Industry: type 2' 'Trade: type 4' 'Industry: type 6'
 'Culture' 'Insurance' 'Religion' 'Industry: type 13' 'Industry: type 10'
 'Trade: type 5']

colonne EXT_SOURCE_1 : [0.75261449 0.5649902         nan ... 0.17467087 0.7335035  0.37309008]

colonne EXT_SOURCE_2 : [0.78965435 0.29165553 0.69978683 ... 0.63276955 0.44570098 0.45654067]

colonne EXT_SOURCE_3 : [1.59519540e-01 4.32961667e-01 6.10991328e-01 6.12704244e-01
            nan 3.92773861e-01 6.51260219e-01 3.12365369e-01
 5.22697317e-01 1.94067828e-01 2.98594990e-01 4.36506499e-01
 4.15347145e-01 3.75711010e-01 5.79727423e-01 2.63646813e-01
 3.06202298e-01 6.52896552e-01 3.47418227e-01 7.61026370e-01
 7.46300213e-01 4.40057830e-01 6.62637792e-01 5.35276250e-01
 4.74051289e-01 5.95456203e-01 3.57293268e-01 2.53962809e-01
 5.67379237e-01 6.33031641e-01 5.46023197e-01 6.76992503e-01
 3.20163367e-01 7.20944150e-01 3.00107757e-01 6.81705878e-01
 4.92060094e-01 1.64414179e-01 8.21443313e-01 1.85202082e-01
 4.45396242e-01 6.56158373e-01 2.83711883e-01 5.13693766e-01
 4.06617437e-01 2.09154699e-01 6.98667555e-01 5.60284328e-01
 5.38862707e-01 5.63835049e-01 6.80138822e-01 3.28063161e-01
 3.63945239e-01 6.39707568e-01 6.57783800e-01 4.03141677e-01
 6.22922000e-01 4.95665829e-01 3.70649632e-01 7.91074913e-01
 2.18859082e-01 4.41303159e-02 7.89880347e-01 5.47810466e-01
 1.22955418e-01 3.04672184e-01 4.20610964e-01 6.41368257e-01
 1.33429254e-01 3.49055251e-01 5.86740009e-01 3.07736696e-01
 1.95198406e-01 9.38365970e-02 2.30158897e-01 6.44679455e-01
 3.09275356e-01 7.92264474e-01 4.50747282e-01 6.89479143e-01
 8.13917470e-01 7.03203305e-01 7.09189110e-01 5.19097338e-01
 5.65607981e-01 3.91054977e-01 6.09275667e-01 5.76208836e-01
 4.52533559e-01 1.63425695e-01 4.65069215e-01 2.62248971e-01
 4.24130311e-01 6.02386344e-01 4.59690450e-01 6.34705531e-01
 2.88129600e-01 7.66233670e-01 6.78567689e-01 6.86382335e-01
 4.31191798e-01 5.70916542e-01 4.48962273e-01 1.42872523e-01
 3.85914672e-01 3.21735282e-01 5.04681319e-01 7.50375150e-01
 4.10102573e-01 6.46329898e-01 7.95803133e-01 6.49620311e-01
 2.13966852e-01 6.94092643e-01 3.84206813e-01 5.40654450e-01
 2.36610824e-01 3.50695843e-01 6.29674251e-01 3.01624892e-01

#### Analyse des "XNA"

In [7]:
columns_to_inspect = ['ORGANIZATION_TYPE']

print(f'Nb XNA per column :\n')

for i in columns_to_inspect :
    l = df_test[i].values.tolist()
    values_count = dict([(k, l.count(k)) for k in set(l)])
    nb = values_count['XNA']
    print(f'- colonne {i} : {nb}')

Nb XNA per column :

- colonne ORGANIZATION_TYPE : 9274

In [8]:
columns_to_inspect = ['ORGANIZATION_TYPE']

print(f'Nb XNA per column :\n')

for i in columns_to_inspect :
    l = df_test[i].values.tolist()
    values_count = dict([(k, l.count(k)) for k in set(l)])
    nb = values_count['XNA']
    print(f'- colonne {i} : {nb}')

Nb XNA per column :

- colonne ORGANIZATION_TYPE : 9274

#### Analyse des valeurs diverses

In [9]:
columns_to_inspect = ['OWN_CAR_AGE','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH','CNT_FAM_MEMBERS']

print(f'Nb incompatible data per column :\n')

#for i in dt_columns_inspect :
  
analyse = df_test[columns_to_inspect].describe()

for i in columns_to_inspect :
    
    print(f"{i} :")
    print(f"\t -> MIN : {analyse[i]['min']}")
    print(f"\t -> MAX : {analyse[i]['max']}")
    print(f"\n-------------------------\n")

Nb incompatible data per column :

OWN_CAR_AGE :
	 -> MIN : 0.0
	 -> MAX : 74.0

-------------------------

CNT_CHILDREN :
	 -> MIN : 0.0
	 -> MAX : 20.0

-------------------------

AMT_INCOME_TOTAL :
	 -> MIN : 26941.5
	 -> MAX : 4410000.0

-------------------------

AMT_CREDIT :
	 -> MIN : 45000.0
	 -> MAX : 2245500.0

-------------------------

AMT_ANNUITY :
	 -> MIN : 2295.0
	 -> MAX : 180576.0

-------------------------

AMT_GOODS_PRICE :
	 -> MIN : 45000.0
	 -> MAX : 2245500.0

-------------------------

DAYS_BIRTH :
	 -> MIN : -25195.0
	 -> MAX : -7338.0

-------------------------

DAYS_EMPLOYED :
	 -> MIN : -17463.0
	 -> MAX : 365243.0

-------------------------

DAYS_REGISTRATION :
	 -> MIN : -23722.0
	 -> MAX : 0.0

-------------------------

DAYS_ID_PUBLISH :
	 -> MIN : -6348.0
	 -> MAX : 0.0

-------------------------

CNT_FAM_MEMBERS :
	 -> MIN : 1.0
	 -> MAX : 21.0

-------------------------

#### Analyse des NaN

In [10]:
incomplet_data = 0

column_with_nan = []
tab_count_nan = []

for i in dt_columns :
    verif = df_test[i].isna().sum()
    if verif != 0 :
        column_with_nan.append(i)
        tab_count_nan.append(df_test[i].isna().sum())
        
    incomplet_data += df_test[i].isna().sum()

nan_analysis = pd.DataFrame({'Feature' : column_with_nan ,  'Nb_NaN' : tab_count_nan})

print(f"{len(column_with_nan)} colonnes contiennet au moins un 'NaN' :")

nan_analysis

64 colonnes contiennet au moins un 'NaN' :

                       Feature  Nb_NaN
0                  AMT_ANNUITY      24
1              NAME_TYPE_SUITE     911
2                  OWN_CAR_AGE   32312
3              OCCUPATION_TYPE   15605
4                 EXT_SOURCE_1   20532
..                         ...     ...
59   AMT_REQ_CREDIT_BUREAU_DAY    6049
60  AMT_REQ_CREDIT_BUREAU_WEEK    6049
61   AMT_REQ_CREDIT_BUREAU_MON    6049
62   AMT_REQ_CREDIT_BUREAU_QRT    6049
63  AMT_REQ_CREDIT_BUREAU_YEAR    6049

[64 rows x 2 columns]

In [11]:
total_info = len(df_test['SK_ID_CURR']) * len(dt_columns)

print(f"Total Data = {total_info}")
print(f"Missing Data = {incomplet_data}")
print(f"Missing Data Rate = {round( (incomplet_data / total_info),2) * 100} %")

Total Data = 5898024
Missing Data = 1404419
Missing Data Rate = 24.0 %

### Résultats de l'analyse :

- La colonne NAME_TYPE_SUITE contient des valeurs à unifier et d'autres à renomer :
    - Other_A & Other_B => Other
    - Spouse, partner => Partner


- La colonne NAME_EDUCATION_TYPE contient des valeurs à renomer :
    - Secondary / secondary special => Secondary


- La colonne NAME_FAMILY_STATUS contient des valeurs à renomer :
    - Single / not married => Single


- La colonne NAME_HOUSING_TYPE contient des valeurs à renomer :
    - House / Apartment => Housing owner


- La colonne ORGANIZATION_TYPE contient des valeurs à unifier :
    - Business Entity Type
    - Transport
    - Industry
    - Trade
    
- Les autres 'XNA' de la table sont à remplacer par des NaN


- Les valeurs extrêmes de la colonne DAYS_EMPLOYED sont à remplacer :
    - 365243 => NaN


- Créations de nouvelles colonnes :
    - TOTAL_AMT_CREDIT => somme totale qui doit être remboursée à la banque
    - PER_ANNUITY => Pourcentage de l'annuité dans la somme total à rembourser
    - CREDIT_PER_ON_GOODPRICE => Pourcentage de la part de somme empreinté pour l'achat du bien
    - YEARS_BIRTH => Age en années
    - PER_WORKED_DAYS => Pourcentage de jours d'occupation de l'emploie actuel sur le nombre total de jours vécus jusqu'à l'application du prêt
    - REGISTRATION_CHANGED => Si changement de l'inscription, vaut 1, sinon 0
    - ID_PUBLISH_CHANGED => Si changement de doc avant prêt, vaut 1, sinon 0
    - CAR_AGE_RANGE => Catégorie d'ancienneté du vahicule possédé
    - PHONE_CONTACTS => Nombre de numéro de téléphones fournis par le client
    - PHONE_CHANGED => Si changement de téléphone, vaut 1, sinon 0
    - ALL_DOCUMENTS_PROVIDED => 1 si dossier complet, sinon 0
    - TOTAL_AMT_REQ_CREDIT_BUREAU => Nombre de demandes de renseignement à propos du client, avant l'application du crédit

# III - Nettoyage des données

### Suppression lignes inutiles

In [12]:
df_test = df_test[df_test['REGION_RATING_CLIENT_W_CITY'] != -1]

### Création de nouvelles colonnes

REAMRQUE : certaines colonnes ne sauront pas calculées avant d'avoir complété les données manquantes de la table

In [13]:
# YEARS_BIRTH : age en années
df_test['YEARS_BIRTH'] = round((df_test['DAYS_BIRTH'] / 365),0) * -1

# AGE_RANGE : age en années
df_test['AGE_IN_YEARS_RANGE'] = pd.cut(x = df_test['YEARS_BIRTH'], bins=[0, 25, 45, 65, 99], labels=[1, 2, 3, 4])

# PER_WORKED_DAYS : pourcentage de jours de sa vie passé à occuper le poste actuel
df_test['PER_WORKED_DAYS'] = round(((df_test['DAYS_EMPLOYED'] / df_test['DAYS_BIRTH']) * 100),2)

# REGISTRATION_CHANGED : est ce qu'il y a eu changement de l'application choisi
df_test['REGISTRATION_CHANGED'] = df_test['DAYS_REGISTRATION'].apply(lambda x: 1 if x != 0 else 0)

# ID_PUBLISH_CHANGED : est ce qu'il y a eu changement de l'application choisi
df_test['ID_PUBLISH_CHANGED'] = df_test['DAYS_ID_PUBLISH'].apply(lambda x: 1 if x != 0 else 0)

# CAR_AGE_RANGE
df_test['CAR_AGE_RANGE'] = pd.cut(x = df_test['OWN_CAR_AGE'], bins=[0,10,20,91], labels=[1, 2, 3])

# PHONE_CONTACTS : nombre de num de tel renseignés
df_test['PHONE_CONTACTS'] = df_test['FLAG_MOBIL'] + df_test['FLAG_EMP_PHONE'] + df_test['FLAG_WORK_PHONE'] + df_test['FLAG_PHONE'] + df_test['FLAG_EMAIL']

# PHONE_CHANGED : y a-t-il eu changement de tel
df_test['PHONE_CHANGED'] = df_test['DAYS_LAST_PHONE_CHANGE'].apply(lambda x: 1 if x != 0 else 0)

# ALL_DOCUMENTS_PROVIDED
df_test['Nb_Documents_provided'] = df_test['FLAG_DOCUMENT_2'] + df_test['FLAG_DOCUMENT_3'] + df_test['FLAG_DOCUMENT_4'] + df_test['FLAG_DOCUMENT_5'] + df_test['FLAG_DOCUMENT_6'] + df_test['FLAG_DOCUMENT_7'] + df_test['FLAG_DOCUMENT_8'] + df_test['FLAG_DOCUMENT_9'] + df_test['FLAG_DOCUMENT_10'] + df_test['FLAG_DOCUMENT_11'] + df_test['FLAG_DOCUMENT_12'] + df_test['FLAG_DOCUMENT_13'] + df_test['FLAG_DOCUMENT_14'] + df_test['FLAG_DOCUMENT_15'] + df_test['FLAG_DOCUMENT_16'] + df_test['FLAG_DOCUMENT_17'] + df_test['FLAG_DOCUMENT_18'] + df_test['FLAG_DOCUMENT_19'] + df_test['FLAG_DOCUMENT_20'] + df_test['FLAG_DOCUMENT_21']
df_test['DOCUMENTS_PROVIDED'] = df_test['Nb_Documents_provided'].apply(lambda x: 1 if x != 0 else 0)

<ipython-input-13-c9bbf81ff60e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['YEARS_BIRTH'] = round((df_test['DAYS_BIRTH'] / 365),0) * -1
<ipython-input-13-c9bbf81ff60e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['AGE_IN_YEARS_RANGE'] = pd.cut(x = df_test['YEARS_BIRTH'], bins=[0, 25, 45, 65, 99], labels=[1, 2, 3, 4])
<ipython-input-13-c9bbf81ff60e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['PER_WORKED_DAYS'] = round(((df_test['DAYS_EMPLOYED'] / df_test['DAYS_BIRTH']) * 100),2)
<ipython-input-13-c9bbf81ff60e>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['REGISTRATION_CHANGED'] = df_test['DAYS_REGISTRATION'].apply(lambda x: 1 if x != 0 else 0)
<ipython-input-13-c9bbf81ff60e>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ID_PUBLISH_CHANGED'] = df_test['DAYS_ID_PUBLISH'].apply(lambda x: 1 if x != 0 else 0)
<ipython-input-13-c9bbf81ff60e>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['CAR_AGE_RANGE'] = pd.cut(x = df_test['OWN_CAR_AGE'], bins=[0,10,20,91], labels=[1, 2, 3])
<ipython-input-13-c9bbf81ff60e>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['PHONE_CONTACTS'] = df_test['FLAG_MOBIL'] + df_test['FLAG_EMP_PHONE'] + df_test['FLAG_WORK_PHONE'] + df_test['FLAG_PHONE'] + df_test['FLAG_EMAIL']
<ipython-input-13-c9bbf81ff60e>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['PHONE_CHANGED'] = df_test['DAYS_LAST_PHONE_CHANGE'].apply(lambda x: 1 if x != 0 else 0)
<ipython-input-13-c9bbf81ff60e>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Nb_Documents_provided'] = df_test['FLAG_DOCUMENT_2'] + df_test['FLAG_DOCUMENT_3'] + df_test['FLAG_DOCUMENT_4'] + df_test['FLAG_DOCUMENT_5'] + df_test['FLAG_DOCUMENT_6'] + df_test['FLAG_DOCUMENT_7'] + df_test['FLAG_DOCUMENT_8'] + df_test['FLAG_DOCUMENT_9'] + df_test['FLAG_DOCUMENT_10'] + df_test['FLAG_DOCUMENT_11'] + df_test['FLAG_DOCUMENT_12'] + df_test['FLAG_DOCUMENT_13'] + df_test['FLAG_DOCUMENT_14'] + df_test['FLAG_DOCUMENT_15'] + df_test['FLAG_DOCUMENT_16'] + df_test['FLAG_DOCUMENT_17'] + df_test['FLAG_DOCUMENT_18'] + df_test['FLAG_DOCUMENT_19'] + df_test['FLAG_DOCUMENT_20'] + df_test['FLAG_DOCUMENT_21']
<ipython-input-13-c9bbf81ff60e>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['DOCUMENTS_PROVIDED'] = df_test['Nb_Documents_provided'].apply(lambda x: 1 if x != 0 else 0)

### Réctification des valeurs incorrectes

In [14]:
# NAME_TYPE_SUITE
df_test['NAME_TYPE_SUITE']=np.where(df_test['NAME_TYPE_SUITE'] == 'Other_A', 'Other', df_test['NAME_TYPE_SUITE'])
df_test['NAME_TYPE_SUITE']=np.where(df_test['NAME_TYPE_SUITE'] == 'Other_B', 'Other', df_test['NAME_TYPE_SUITE'])
df_test['NAME_TYPE_SUITE']=np.where(df_test['NAME_TYPE_SUITE'] == 'Spouse, partner', 'Partner', df_test['NAME_TYPE_SUITE'])

# NAME_EDUCATION_TYPE
df_test['NAME_EDUCATION_TYPE']=np.where(df_test['NAME_EDUCATION_TYPE'] == 'Secondary / secondary special', 'Secondary', df_test['NAME_EDUCATION_TYPE'])

# NAME_FAMILY_STATUS
df_test['NAME_FAMILY_STATUS']=np.where(df_test['NAME_FAMILY_STATUS'] == 'Single / not married', 'Single', df_test['NAME_FAMILY_STATUS'])

# NAME_HOUSING_TYPE
df_test['NAME_HOUSING_TYPE']=np.where(df_test['NAME_HOUSING_TYPE'] == 'House / apartment', 'Housing owner', df_test['NAME_HOUSING_TYPE'])

# ORGANIZATION_TYPE    
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Business Entity Type 1', 'Business', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Business Entity Type 2', 'Business', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Business Entity Type 3', 'Business', df_test['ORGANIZATION_TYPE'])

df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Transport: type 1', 'Transport', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Transport: type 2', 'Transport', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Transport: type 3', 'Transport', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Transport: type 4', 'Transport', df_test['ORGANIZATION_TYPE'])

df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 1', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 2', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 3', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 4', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 5', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 6', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 7', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 8', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 9', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 10', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 11', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 12', 'Industry', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 13', 'Industry', df_test['ORGANIZATION_TYPE'])

df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 1', 'Trade', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 2', 'Trade', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 3', 'Trade', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 4', 'Trade', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 5', 'Trade', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 6', 'Trade', df_test['ORGANIZATION_TYPE'])
df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 7', 'Trade', df_test['ORGANIZATION_TYPE'])
    
# DAYS_EMPLOYED
df_test['DAYS_EMPLOYED']=np.where(df_test['DAYS_EMPLOYED'] == 365243, np.nan, df_test['DAYS_EMPLOYED'])

<ipython-input-14-bb8092c071a0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['NAME_TYPE_SUITE']=np.where(df_test['NAME_TYPE_SUITE'] == 'Other_A', 'Other', df_test['NAME_TYPE_SUITE'])
<ipython-input-14-bb8092c071a0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['NAME_TYPE_SUITE']=np.where(df_test['NAME_TYPE_SUITE'] == 'Other_B', 'Other', df_test['NAME_TYPE_SUITE'])
<ipython-input-14-bb8092c071a0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['NAME_TYPE_SUITE']=np.where(df_test['NAME_TYPE_SUITE'] == 'Spouse, partner', 'Partner', df_test['NAME_TYPE_SUITE'])
<ipython-input-14-bb8092c071a0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['NAME_EDUCATION_TYPE']=np.where(df_test['NAME_EDUCATION_TYPE'] == 'Secondary / secondary special', 'Secondary', df_test['NAME_EDUCATION_TYPE'])
<ipython-input-14-bb8092c071a0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['NAME_FAMILY_STATUS']=np.where(df_test['NAME_FAMILY_STATUS'] == 'Single / not married', 'Single', df_test['NAME_FAMILY_STATUS'])
<ipython-input-14-bb8092c071a0>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['NAME_HOUSING_TYPE']=np.where(df_test['NAME_HOUSING_TYPE'] == 'House / apartment', 'Housing owner', df_test['NAME_HOUSING_TYPE'])
<ipython-input-14-bb8092c071a0>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Business Entity Type 1', 'Business', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Business Entity Type 2', 'Business', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Business Entity Type 3', 'Business', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Transport: type 1', 'Transport', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Transport: type 2', 'Transport', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Transport: type 3', 'Transport', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Transport: type 4', 'Transport', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 1', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 2', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 3', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 4', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 5', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 6', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 7', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 8', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 9', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 10', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 11', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 12', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Industry: type 13', 'Industry', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 1', 'Trade', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 2', 'Trade', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 3', 'Trade', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 4', 'Trade', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 5', 'Trade', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 6', 'Trade', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['ORGANIZATION_TYPE']=np.where(df_test['ORGANIZATION_TYPE'] == 'Trade: type 7', 'Trade', df_test['ORGANIZATION_TYPE'])
<ipython-input-14-bb8092c071a0>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['DAYS_EMPLOYED']=np.where(df_test['DAYS_EMPLOYED'] == 365243, np.nan, df_test['DAYS_EMPLOYED'])

### Retrait des colonnes inutiles

In [15]:
df_test = df_test.drop(['REGION_RATING_CLIENT',
'DAYS_BIRTH','HOUR_APPR_PROCESS_START','DAYS_REGISTRATION',
'APARTMENTS_AVG','DAYS_ID_PUBLISH',
'BASEMENTAREA_AVG','YEARS_BEGINEXPLUATATION_AVG',
'YEARS_BUILD_AVG','COMMONAREA_AVG',
'OWN_CAR_AGE','ELEVATORS_AVG','ENTRANCES_AVG',
'FLOORSMAX_AVG','FLOORSMIN_AVG','LANDAREA_AVG',
'LIVINGAPARTMENTS_AVG','LIVINGAREA_AVG',
'NONLIVINGAPARTMENTS_AVG','NONLIVINGAREA_AVG',
'APARTMENTS_MODE','FLAG_MOBIL','FLAG_EMP_PHONE',
'FLAG_WORK_PHONE','FLAG_PHONE','FLAG_EMAIL',
'BASEMENTAREA_MODE','YEARS_BEGINEXPLUATATION_MODE','YEARS_BUILD_MODE',
'COMMONAREA_MODE','ELEVATORS_MODE','ENTRANCES_MODE',
'FLOORSMAX_MODE','FLOORSMIN_MODE','LANDAREA_MODE',
'LIVINGAPARTMENTS_MODE','LIVINGAREA_MODE','NONLIVINGAPARTMENTS_MODE',
'NONLIVINGAREA_MODE','APARTMENTS_MEDI','BASEMENTAREA_MEDI',
'YEARS_BEGINEXPLUATATION_MEDI','YEARS_BUILD_MEDI','COMMONAREA_MEDI',
'ELEVATORS_MEDI','ENTRANCES_MEDI','FLOORSMAX_MEDI','FLOORSMIN_MEDI',
'LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','LIVINGAREA_MEDI','NONLIVINGAPARTMENTS_MEDI',
'NONLIVINGAREA_MEDI','FONDKAPREMONT_MODE','HOUSETYPE_MODE','TOTALAREA_MODE','WALLSMATERIAL_MODE',
'EMERGENCYSTATE_MODE','DAYS_LAST_PHONE_CHANGE','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4',
'FLAG_DOCUMENT_5','FLAG_DOCUMENT_6','FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9',
'FLAG_DOCUMENT_10','FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15',
'FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18','FLAG_DOCUMENT_19','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21',
'Nb_Documents_provided'], axis = 1)

### Convertions valeurs

#### Convertion valeurs globales

In [16]:
# XNA => NaN
df_test = df_test.replace('XNA', np.nan)

# Y => 1
df_test = df_test.replace('Y', 1)

# N => 0
df_test = df_test.replace('N', 0)

In [17]:
df_test.columns

Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE',
       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_EMPLOYED', 'FLAG_CONT_MOBILE',
       'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'YEARS_BIRTH', 'AGE_IN_YEARS_RANGE',
       'PER_WORKED_DAYS', 'REGISTRATION_CHANGED', 'ID_PUBLISH_CHANGED',
       'CAR_AGE_RANGE', 'PHONE_CONTACTS', 'PHONE_CHANGED',
       'DOCUMENTS_PROVIDED'],
      dtype='object')

#### Convertion valeurs spécifiques aux colonnes

##### Détection des colonnes à modifer

In [18]:
# récupération des colonnes à reformer
colonne_reform = []

columnes_with_str = df_test.columns

for i in columnes_with_str :
    cran = 1
    while cran != 0 :
        if df_test[i][0] != np.nan :
            cran = 0
            if type(df_test[i][0]) == str or type(df_test[i][1]) == str:
                colonne_reform.append(i)    

colonne_reform

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE']

In [19]:
longest_list = 0


# récupération du plus grand nombre de valeurs uniques présent dans une colonne 
for i in colonne_reform :
    if len(df_test[i].unique()) > longest_list :
        longest_list = len(df_test[i].unique())


# création d'un tableau de sauvegarde des colonnes contenant des valeurs uniques de type "chaine de caractères"      
values_save = [[''] * (longest_list+1) for x in range(len(colonne_reform))]

# remplissage du tableau de sauvegarde
for i in range (len(colonne_reform)) :
    
    values_save[i][0] = colonne_reform[i]
    
    valeurs_uniques = df_test[colonne_reform[i]].unique()
    
    j = 1
    diff = 1
        
    for j in range (len(valeurs_uniques)) :
   
        if type(valeurs_uniques[j]) == str :
            values_save[i][j+diff] = valeurs_uniques[j]
        else :
            diff -= 1
        

values_save

[['NAME_CONTRACT_TYPE',
  'Cash loans',
  'Revolving loans',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['CODE_GENDER',
  'F',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_TYPE_SUITE',
  'Unaccompanied',
  'Family',
  'Partner',
  'Group of people',
  'Other',
  'Children',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_INCOME_TYPE',
  'Working',
  'State servant',
  'Pensioner',
  'Commercial associate',
  'Businessman',
  'Student',
  'Unemployed',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_EDUCATION_TYPE',
  'Higher education',
  'Secondary',
  'Incomplete higher',
  'Lower secondary',
  'Academic degree',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_FAMILY_STATUS',
  'Married',
  'Single',
  'Civil marriage',
  'Widow',
  'Separated',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['NAME_HOUSING_TYPE',
  'Housing owner',
  'With parents',
  'Rented apartment',
  'Municipal apartment',
  'Office apartment',
  'Co-op apartment',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['OCCUPATION_TYPE',
  'Low-skill Laborers',
  'Drivers',
  'Sales staff',
  'High skill tech staff',
  'Core staff',
  'Laborers',
  'Managers',
  'Accountants',
  'Medicine staff',
  'Security staff',
  'Private service staff',
  'Secretaries',
  'Cleaning staff',
  'Cooking staff',
  'HR staff',
  'Waiters/barmen staff',
  'Realty agents',
  'IT staff',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['WEEKDAY_APPR_PROCESS_START',
  'TUESDAY',
  'FRIDAY',
  'MONDAY',
  'WEDNESDAY',
  'THURSDAY',
  'SATURDAY',
  'SUNDAY',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['ORGANIZATION_TYPE',
  'Kindergarten',
  'Self-employed',
  'Transport',
  'Business',
  'Government',
  'Industry',
  'School',
  'Trade',
  'Services',
  'Bank',
  'Other',
  'Postal',
  'Medicine',
  'Housing',
  'Construction',
  'Military',
  'Legal Services',
  'Security',
  'University',
  'Agriculture',
  'Security Ministries',
  'Telecom',
  'Emergency',
  'Police',
  'Electricity',
  'Hotel',
  'Restaurant',
  'Advertising',
  'Mobile',
  'Realtor',
  'Cleaning',
  'Culture',
  'Insurance',
  'Religion',
  '']]

##### Transformation des chaines de caractère en équivalent de type integer

In [20]:
# [i][0] ==> Colonnes

for i in range (len(values_save)) :
    for j in range (len(values_save[i])) :
        df_test[values_save[i][0]] = df_test[values_save[i][0]].replace(values_save[i][j], j)

In [21]:
df_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,AMT_REQ_CREDIT_BUREAU_YEAR,YEARS_BIRTH,AGE_IN_YEARS_RANGE,PER_WORKED_DAYS,REGISTRATION_CHANGED,ID_PUBLISH_CHANGED,CAR_AGE_RANGE,PHONE_CONTACTS,PHONE_CHANGED,DOCUMENTS_PROVIDED
0,100001,1,1,0,1,0,135000.0,568800.0,20560.5,450000.0,...,0.0,53.0,3,12.10,1,1,NaN,3,1,1
1,100005,1,2,0,1,0,99000.0,222768.0,17370.0,180000.0,...,3.0,49.0,3,24.74,1,1,NaN,2,0,1
2,100013,1,2,1,1,0,202500.0,663264.0,69777.0,630000.0,...,4.0,55.0,3,22.25,1,1,1,2,1,1
3,100028,1,1,0,1,2,315000.0,1575000.0,49018.5,1575000.0,...,3.0,38.0,2,13.35,1,1,NaN,3,1,1
4,100038,1,2,1,0,1,180000.0,625500.0,32067.0,625500.0,...,NaN,36.0,2,16.80,1,1,2,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,1,1,0,1,0,121500.0,412560.0,17473.5,270000.0,...,1.0,55.0,3,25.88,1,1,NaN,4,1,1
48740,456222,1,1,0,0,2,157500.0,622413.0,31909.5,495000.0,...,NaN,31.0,2,10.27,1,1,NaN,2,0,1
48741,456223,1,1,1,1,1,202500.0,315000.0,33205.5,315000.0,...,1.0,44.0,2,19.07,1,1,1,3,1,1
48742,456224,1,2,0,0,0,225000.0,450000.0,25128.0,450000.0,...,2.0,38.0,2,19.55,1,1,NaN,4,1,1
48743,456250,1,1,1,0,0,135000.0,312768.0,24709.5,270000.0,...,4.0,38.0,2,4.53,1,1,3,3,1,1

### Analyse des données après nettoyage

Nous remarquons que nos étapes de distilation des données a été utile parce que nous avons une donnée plus pure, plus pertinente, avec moins de données manquantes.
Cela va donc nous permettre de compléter les missing datas avec des information beaucoup plus pertinentes !

In [22]:
dt_columns = df_test.columns

incomplet_data = 0

column_with_nan = []
tab_count_nan = []

for i in dt_columns :
    verif = df_test[i].isna().sum()
    if verif != 0 :
        column_with_nan.append(i)
        tab_count_nan.append(df_test[i].isna().sum())
        
    incomplet_data += df_test[i].isna().sum()

nan_analysis = pd.DataFrame({'Feature' : column_with_nan ,  'Nb_NaN' : tab_count_nan})

print(f"{len(column_with_nan)} colonnes contiennet au moins un 'NaN' :")

nan_analysis

19 colonnes contiennet au moins un 'NaN' :

                       Feature  Nb_NaN
0                  AMT_ANNUITY      24
1              NAME_TYPE_SUITE     911
2                DAYS_EMPLOYED    9274
3              OCCUPATION_TYPE   15605
4            ORGANIZATION_TYPE    9274
5                 EXT_SOURCE_1   20532
6                 EXT_SOURCE_2       8
7                 EXT_SOURCE_3    8668
8     OBS_30_CNT_SOCIAL_CIRCLE      29
9     DEF_30_CNT_SOCIAL_CIRCLE      29
10    OBS_60_CNT_SOCIAL_CIRCLE      29
11    DEF_60_CNT_SOCIAL_CIRCLE      29
12  AMT_REQ_CREDIT_BUREAU_HOUR    6049
13   AMT_REQ_CREDIT_BUREAU_DAY    6049
14  AMT_REQ_CREDIT_BUREAU_WEEK    6049
15   AMT_REQ_CREDIT_BUREAU_MON    6049
16   AMT_REQ_CREDIT_BUREAU_QRT    6049
17  AMT_REQ_CREDIT_BUREAU_YEAR    6049
18               CAR_AGE_RANGE   32429

In [23]:
total_info = len(df_test['SK_ID_CURR']) * len(dt_columns)

print(f"Total Data = {total_info}")
print(f"Missing Data = {incomplet_data}")
print(f"Missing Data Rate = {round( (incomplet_data / total_info),2) * 100} %")

Total Data = 2485893
Missing Data = 133135
Missing Data Rate = 5.0 %

### Traitement des NaN

#### Récupération des colonnes contenant des NaN

In [24]:
columns_with_NA = []
for i in nan_analysis['Feature'] :
    columns_with_NA.append(i)
    
X_with_NaN = df_test[columns_with_NA]

#### Calcul des NaN via le KNNImputer

In [25]:
nb_iteration = len(X_with_NaN) / 5000

if float(nb_iteration).is_integer() == False :
    nb_iteration = ceil(nb_iteration)
    last_round_incomplet = True
    
df_result = 0
v = 0
s = 0

print(nb_iteration)

while v < (nb_iteration-1) :
    
    f = s + 5000
    
    if v < (nb_iteration-2) :
        
        X_with_NaN_used = X_with_NaN[s:f]
        
        imputer = KNNImputer(n_neighbors = 15)
        
        X_without_nan = imputer.fit_transform(X_with_NaN_used)
        
        X_df_result = pd.DataFrame(X_without_nan,columns=X_with_NaN_used.columns)
        
        if v == 0 :
            df_result = X_df_result
        
        if v > 0 :
            df_result = pd.concat([df_result,X_df_result], ignore_index=True)
        
        print(f'==> Round {v} completed !!!')
        
        v += 1    
        
    else :
        
        X_with_NaN_used = X_with_NaN[s:]
        
        imputer = KNNImputer(n_neighbors = 15)
  
        X_without_nan = imputer.fit_transform(X_with_NaN_used)
        
        X_df_result = pd.DataFrame(X_without_nan,columns=X_with_NaN_used.columns)
        
        df_result = pd.concat([df_result,X_df_result], ignore_index=True)
        
        v += 1
        
        print('==> Last round completed !!!')
        
    if v < (nb_iteration-1) :
        s = f

10
==> Round 0 completed !!!
==> Round 1 completed !!!
==> Round 2 completed !!!
==> Round 3 completed !!!
==> Round 4 completed !!!
==> Round 5 completed !!!
==> Round 6 completed !!!
==> Round 7 completed !!!
==> Last round completed !!!

In [26]:
df_result

,AMT_ANNUITY,NAME_TYPE_SUITE,DAYS_EMPLOYED,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,CAR_AGE_RANGE
0,20560.5,1.000000,-2329.0,6.133333,1.0,0.752614,0.789654,0.159520,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.600000
1,17370.0,1.000000,-4469.0,1.000000,2.0,0.564990,0.291656,0.432962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,3.000000,1.400000
2,69777.0,1.066667,-4458.0,2.000000,3.0,0.618604,0.699787,0.610991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4.000000,1.000000
3,49018.5,1.000000,-1866.0,3.000000,4.0,0.525734,0.509677,0.612704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,3.000000,1.333333
4,32067.0,1.000000,-2191.0,7.200000,4.0,0.202145,0.425687,0.514914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.266667,2.400000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48738,17473.5,1.000000,-5169.0,6.266667,11.0,0.649613,0.648575,0.643026,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,1.533333
48739,31909.5,1.000000,-1149.0,3.000000,8.0,0.500618,0.684596,0.515630,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.666667,2.333333,1.733333
48740,33205.5,1.000000,-3037.0,5.400000,4.0,0.733503,0.632770,0.283712,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.000000,1.000000,1.000000
48741,25128.0,2.000000,-2731.0,7.000000,2.0,0.373090,0.445701,0.595456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,2.000000,1.666667
48742,24709.5,1.000000,-633.0,5.000000,5.0,0.558084,0.456541,0.272134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4.000000,3.000000

#### Traitement du résultat obtenu pour les NaN

In [27]:
# OCCUPATION_TYPE => arrondir à l'entier le plus proche
df_result['OCCUPATION_TYPE'] = round(df_result['OCCUPATION_TYPE'])

# NAME_TYPE_SUITE => arrondir à l'entier le plus proche
df_result['NAME_TYPE_SUITE'] = round(df_result['NAME_TYPE_SUITE'])

# ORGANIZATION_TYPE => arrondir à l'entier le plus proche
df_result['ORGANIZATION_TYPE'] = round(df_result['ORGANIZATION_TYPE'])

# OBS_30_CNT_SOCIAL_CIRCLE => arrondir à l'entier le plus proche
df_result['OBS_30_CNT_SOCIAL_CIRCLE'] = round(df_result['OBS_30_CNT_SOCIAL_CIRCLE'])

# DEF_30_CNT_SOCIAL_CIRCLE => arrondir à l'entier le plus proche
df_result['DEF_30_CNT_SOCIAL_CIRCLE'] = round(df_result['DEF_30_CNT_SOCIAL_CIRCLE'])

# OBS_60_CNT_SOCIAL_CIRCLE => arrondir à l'entier le plus proche
df_result['OBS_60_CNT_SOCIAL_CIRCLE'] = round(df_result['OBS_60_CNT_SOCIAL_CIRCLE'])

# DEF_60_CNT_SOCIAL_CIRCLE => arrondir à l'entier le plus proche
df_result['DEF_60_CNT_SOCIAL_CIRCLE'] = round(df_result['DEF_60_CNT_SOCIAL_CIRCLE'])

# AMT_REQ_CREDIT_BUREAU_HOUR => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_HOUR'] = round(df_result['AMT_REQ_CREDIT_BUREAU_HOUR'])

# AMT_REQ_CREDIT_BUREAU_DAY => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_DAY'] = round(df_result['AMT_REQ_CREDIT_BUREAU_DAY'])

# AMT_REQ_CREDIT_BUREAU_WEEK => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_WEEK'] = round(df_result['AMT_REQ_CREDIT_BUREAU_WEEK'])

# AMT_REQ_CREDIT_BUREAU_MON => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_MON'] = round(df_result['AMT_REQ_CREDIT_BUREAU_MON'])

# AMT_REQ_CREDIT_BUREAU_QRT => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_QRT'] = round(df_result['AMT_REQ_CREDIT_BUREAU_QRT'])

# AMT_REQ_CREDIT_BUREAU_YEAR => arrondir à l'entier le plus proche
df_result['AMT_REQ_CREDIT_BUREAU_YEAR'] = round(df_result['AMT_REQ_CREDIT_BUREAU_YEAR'])

# CAR_AGE_RANGE => arrondir à l'entier le plus proche
df_result['CAR_AGE_RANGE'] = round(df_result['CAR_AGE_RANGE'])

### Unification de la donnée Finale

#### On supprimes les anciennes colonnes avec les NaN

In [28]:
columnt_to_delet = df_result.columns.values.tolist()
df_test = df_test.drop(columnt_to_delet, axis = 1)

#### Ajout d'une colonnes de jointure à la table contenant la donnée sans NaN

In [29]:
index_id = []
for i in df_test['SK_ID_CURR']:
    index_id.append(i)
    
df_result['SK_ID_CURR'] = index_id

#### Ajout des nouvelles colonnes sans NaN

In [30]:
df_test = pd.merge(df_test, df_result, on = 'SK_ID_CURR')

#### Traduction des valeur anciennement traduit en entiers

In [31]:
for i in range (len(values_save)) :
    for j in range (len(values_save[i])) :
        df_test[values_save[i][0]] = df_test[values_save[i][0]].replace(j,values_save[i][j])

#### Création des colonnes dépendant d'anciennes colonnes contenant des NaN

In [32]:
# Réctification incohérence entre CAR_AGE_RANGE & FLAG_OWN_CAR
for i in range(len(df_test['SK_ID_CURR'])) :
    if df_test['FLAG_OWN_CAR'][i] == 'N' :
        df_test['CAR_AGE_RANGE'][i] = 0

# CREDIT_PER_ON_GOODPRICE : somme du bien souhaité crédité
df_test['CREDIT_PER_ON_GOODPRICE'] = round(((df_test['AMT_CREDIT'] / df_test['AMT_GOODS_PRICE']) * 100),2)

# TOTAL_AMT_CREDIT : somme totale à rembourser
df_test['TOTAL_AMT_CREDIT'] = df_test['AMT_CREDIT'] + df_test['AMT_ANNUITY']

# TOTAL_AMT_REQ_CREDIT_BUREAU : nombre total de demandes à propos du crédit au bureau, avant son application
df_test['TOTAL_AMT_REQ_CREDIT_BUREAU'] = df_test['AMT_REQ_CREDIT_BUREAU_HOUR'] + df_test['AMT_REQ_CREDIT_BUREAU_DAY'] + df_test['AMT_REQ_CREDIT_BUREAU_WEEK'] + df_test['AMT_REQ_CREDIT_BUREAU_MON'] + df_test['AMT_REQ_CREDIT_BUREAU_QRT'] + df_test['AMT_REQ_CREDIT_BUREAU_YEAR']

In [33]:
# CREDIT_PER_ON_GOODPRICE : somme du bien souhaité crédité
df_test['PER_ANNUITY'] = round(((df_test['AMT_ANNUITY'] / df_test['TOTAL_AMT_CREDIT']) * 100),2)

In [34]:
df_test = df_test.drop(['AMT_CREDIT','AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_QRT' ,'AMT_REQ_CREDIT_BUREAU_YEAR'], axis = 1)

### Analyse des données après nettoyage

In [35]:
incomplet_data = 0
for i in df_test.columns.values.tolist() :      
    incomplet_data += df_test[i].isna().sum()


total_info = len(df_test['SK_ID_CURR']) * len(dt_columns)

print(f"Total Data = {total_info}")
print(f"Missing Data = {incomplet_data}")
print(f"Missing Data Rate = {round( (incomplet_data / total_info),2) * 100} %")

Total Data = 2485893
Missing Data = 0
Missing Data Rate = 0.0 %

# Export du résultat final

In [38]:
df_test.to_csv('Data_Base_Enhanced/test_enhanced.csv', index = False)